In [ ]:
import pandas as pd

# Cleaning the csv dataset

objective: create a dataframe where there is 1 gtd_id, 1 headline, 1 link

Cleaning the 2_GTD_case_details_2015_2017.csv dataset into id,link

let us have 2 dataframe s_df and df2

In [ ]:
import csv
from IPython.display import display

df =pd.read_csv('2_GTD_case_details_2015_2017.csv')

#return headline,news source,date, year
def strip_src(src):
    if type(src)!=float:
        b = ast.literal_eval(src)
        headline = re.findall(r'"([^"]*)"',b[0])[0]

        lst = b[0].replace('\"','')
        lst = re.split(",",lst)
        dates = lst[-2:]
        dates =','.join(dates).strip()
        source = str(lst[-3]).strip()
        df = pd.DataFrame([headline, source, dates]).transpose()
        df.columns=['headline','source','date']
    else:
        df = pd.DataFrame(columns=['headline','source','date'])
    return df

lst = ['1_src_0', '1_src_1', '1_src_2']

s_df = pd.DataFrame()

def unstack_A(df,a):
    scrape_df = pd.DataFrame()
    for i in range(len(df)):
        gtd_id = pd.DataFrame([df['GTD ID:'].iloc[i]])
        gtd_id.columns=['GTD ID:']
        sdf = strip_src(df[a].iloc[i])
        sdf = pd.concat([gtd_id,sdf],axis=1)
        scrape_df = pd.concat([scrape_df,sdf])
    return scrape_df

for i in lst:
    sdf=unstack_A(df,i)
    s_df=pd.concat([s_df,sdf])
s_df = s_df.dropna()
s_df

cleaning the google links sheet into something headline, link

In [ ]:
df2=pd.DataFrame()
counter = 0
with open('0.1_1_google_link_3.csv', encoding='utf-8') as csv_file:
    csv_reader = csv.reader(csv_file)
    for row in csv_reader:
        counter+=1
        print(counter,end='\r')
        dfa = pd.DataFrame(row).transpose()
        df2 = pd.concat([dfa,df2])

df2 = df2.drop_duplicates().drop(columns=[0,2,3]).reset_index(drop=True)

In [ ]:
df2

In [ ]:
main_df = pd.DataFrame()
for i in range(len(df2)):
    #print(i)
    df3=pd.DataFrame(df2.iloc[i]).transpose()
    df3 = pd.melt(df3,id_vars=[1])
    main_df = pd.concat([main_df,df3])

In [ ]:
main_df = main_df.dropna().reset_index(drop=True)
main_df.columns=['headline','variable','link']
main_df

In [ ]:
display(main_df.head(), s_df)

In [ ]:
#main_df.merge(s_df, left_on='headline', right_on='headline', how='outer').sort_values(by=['headline'])
#pd.merge(main_df,s_df)

import numpy as np

d1=main_df[['headline','link']]
d2=s_df[['GTD ID:','headline']]

d1['link'].replace('', np.nan, inplace=True)
d1=d1.dropna(subset=['link']).reset_index(drop=True)
d2['headline'].replace('', np.nan, inplace=True)
d2=d2.dropna(subset=['headline']).reset_index(drop=True)

#because d2 headline has an extra comma, we will clean it here
d2['headline']=d2['headline'].apply(lambda x: x[:-1])

display(d1,d2)


#for i in range(len(d1)):
    
#d1.to_csv('0.1_1_google_link_4.csv')
df4 = pd.merge(d1,d2, on='headline')
display(df4)
df4.to_csv('0.1_1_google_link_4.csv')
df4

In [ ]:
df4.reset_index(drop=True)

# Link collecting

In [2]:
import pandas as pd
import asyncio
import aiohttp
import ssl

from bs4 import BeautifulSoup
from collections import Counter
import re
from urllib.parse import urlparse
import time
import ast


import requests

from IPython.display import display


#conda install tornado==4.5.3 as tornado 5x is not good for this

#asynschronously fetch one url
async def fetch(session, url):
    async with session.get(url, ssl=ssl.SSLContext()) as response:
        return await response.text()

#asynschronously fetch multiple    
async def fetch_all(urls, loop):
    async with aiohttp.ClientSession(loop=loop) as session:
        results = await asyncio.gather(*[fetch(session, url) for url in urls], return_exceptions=True)
        return results

#function to return a soup object
def soup(page):
    try:
        soup = BeautifulSoup(page, 'html.parser')
        return soup
    except:
        soup = []
        return soup

#function to return a list of texts in divs
def div_soup(page):
    try:
        soup = BeautifulSoup(page, 'html.parser')
        tags = soup.find_all('div')
        tags_list = [t.text for t in tags]
        return tags_list
    except:
        tags_list = []
        return tags_list    
    
#function to return a list of soup objects
def soup_list(urls):
    loop = asyncio.new_event_loop()
    htmls = loop.run_until_complete(fetch_all(urls, loop))
    soup_list = list(map(soup,htmls))
    loop.close()
    return soup_list

df=pd.read_csv('0.1_1_google_link_4.csv').dropna().drop(['Unnamed: 0'],axis=1).reset_index(drop=True)
df_links = df.drop_duplicates(subset=['link'])
df_links.head()

,headline,link,GTD ID:
0,4 civilians killed in ambush by suspected BIFF...,https://newsinfo.inquirer.net/699492/police-of...,201506180097
1,"Trooper killed, 2 wounded in Davao Del Sur cla...",https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018
2,"Trooper killed, 2 wounded in Davao Del Sur cla...",https://www.google.com.sg/search?source=hp&ei=...,201506190018
3,"Trooper killed, 2 wounded in Davao Del Sur cla...",https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018
4,"Trooper killed, 2 wounded in Davao Del Sur cla...",https://www.crisisgroup.org/crisiswatch/print?...,201506190018

execution

In [3]:
total = 13594
a = 10000
b = 10005
counter = a

url_list = [i for i in df_links['link']]
id_list = [i for i in df_links['GTD ID:']]
#display(url_list,id_list)


#this code runs through the df_links list, returns a h5 file with 1 website and all its divs in text form.
while b <= 13590:
    loop = asyncio.new_event_loop()
    print('Getting ' +str(a) + ' to ' +str(b))
    urls = url_list[a:b]
    htmls = loop.run_until_complete(fetch_all(urls, loop))
    #print(htmls[-1])
    soups = list(map(div_soup,htmls))
    lst = list(zip(url_list,id_list,soups))
    l_df = pd.DataFrame(lst)
    #df2 = pd.concat([df2,l_df])
    print(type(l_df[2][0]))
    display(l_df)
    
    for i in range(len(l_df)):
        gtd_id = l_df[1][i]
        l_df.iloc[i].to_pickle('{}_{}.h5'.format(gtd_id,counter))
        counter +=1

    a += 5
    b += 5

    loop.close()

Getting 10000 to 10005
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10005 to 10010
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n Bomb blast at Philippine shopping...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10010 to 10015
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n\n\n, \..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n\n\n, \..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n\n\n, \..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n\n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n\n\n, \..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n\n\n, \..."

Getting 10015 to 10020
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, (function(){var topics=[];topics.push(""c..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, Never miss a great news story!Get instant n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[NDTVBusiness हिन्दीMoviesCricketLifestyleHeal...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, (function(){var topics=[];topics.push(""z..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, Never miss a great news story!Get instant n..."

Getting 10020 to 10025
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philippi...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n]

Getting 10025 to 10030
<class 'list'>

                                                   0             1   2
0  https://newsinfo.inquirer.net/699492/police-of...  201506180097  []
1     https://en.wikipedia.org/wiki/Battle_of_Marawi  201506190018  []
2  https://www.google.com.sg/search?source=hp&ei=...  201506190018  []
3  https://en.wikipedia.org/wiki/Timeline_of_the_...  201506190018  []
4  https://www.crisisgroup.org/crisiswatch/print?...  201506190018  []

Getting 10030 to 10035
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[ \n var BASE_URL = domain_name;\n .h...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."

Getting 10035 to 10040
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\nOverview\nHistory\nGT...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 10040 to 10045
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\nCustomer Logins\nObtain the data you ...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10045 to 10050
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\nForeign policy of the Barack Ob..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[ , \nDatabases\n\n Ask a Librarian\n\n, \n As..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\n\n, \nNYU Libraries > BobCat > ..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10050 to 10055
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n \n\n\n.\n\n\n\n\n\n\n\nHOME\n\n\nNEWS ...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n var defaultViewWidth = defaultViewWidth...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 10055 to 10060
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\n\n\n\n\nMyCebu.ph: Cebu News & ..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\n\n, \n\n, \n\n\n\n \n \nSign the petiti..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\nGameFace.Ph > Nationhood And Current Affair...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[ \n var BASE_URL = domain_name;\n .h...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[ \n var BASE_URL = domain_name;\n .h...

Getting 10060 to 10065
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n, \n\n\n\n\n\nToggle navigation\n\n\n\n\n\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n, \n\n Skip to main content\n \n,..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n, \n\n\n\n\n\nToggle navigation\n\n\n\n\n\n..."

Getting 10065 to 10070
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n, \n, \n HELLO FEATURE MARKUP VAL: \n\nWelc..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10070 to 10075
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[ \n, \n\n\n\n(adsbygoogle = window.adsbygoogl..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[ \n, \n\n\n\n(adsbygoogle = window.adsbygoogl..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[ \n, \n\n\n\n(adsbygoogle = window.adsbygoogl..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 10075 to 10080
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\nToggle navigation\n\n\nGOV PH\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...

Getting 10080 to 10085
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10085 to 10090
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\nABOUT US\nSUBMIT AN ARTICLE\nAUTHOR...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[ ISSN 2330-717X Saturday, April 13, 2019 Late..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\nToggle navigation\n\n\n\n\n\n\n\n\n\n\n...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n, \n\n Skip to main content\n \n,..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n, \n\n Skip to main content\n \n,..."

Getting 10090 to 10095
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n, \n\n Skip to main content\n \n,..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\nSearch Form\n\n\n\n\n\n\n\n\n...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n \n \n\n D...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."

Getting 10095 to 10100
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\t\t\t\t\tPhilippines News\n\n\n\n\t\t\...

Getting 10100 to 10105
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\t\t\t\t\tPhilippines News\n\n\n\n\t\t\...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n Categories\n Top Downloads..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."

Getting 10105 to 10110
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , , \n\n\n\n\n \n\n\n\n\n\n \n\n\n\nSearch\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\nOverview\nHistory\nGT...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n, \n\n\n\n\n\nToggle navigation\n\n\n\n\n\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , , , \n\n\n\nTo install click the Add exte..."

Getting 10110 to 10115
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n \n\n\n\n\n\n\n\nTech\n\n\n\n...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\nEnter Site\n\n\n, \n\nEnter Site\n\n, \..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\nSkip to main content\n, \n\n\n\n\n\n\n\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10115 to 10120
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."

Getting 10120 to 10125
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\n\r\n\t35,019,356 articles and books\n\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\nOverview\nHistory\nGT...

Getting 10125 to 10130
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philippi...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philippi...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philippi...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\n\nLog in or Sign up\n\n\n\n\n, \n\n\nLo..."

Getting 10130 to 10135
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\nOverview\nHistory\nGT...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\nOverview\nHistory\nGT...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n \n if (show_overlay==1 || (dfp_pre...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n \n if (show_overlay==1 || (dfp_pre...

Getting 10135 to 10140
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n \n if (show_overlay==1 || (dfp_pre...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n Skip to content The Atlantic Popular L..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10140 to 10145
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n Suspect in Myanmar hotel blast ca...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n\n\n, \..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n\n\n, \..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n\n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n\n\n, \..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\n\n\n\n\n\r\n Saturday, 1..."

Getting 10145 to 10150
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\nIndyWatch Pacific News\nAll Topics ...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\nIndyWatch New South\nWales News Fee...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\n\r\n\t35,019,356 articles and books\n\n..."

Getting 10150 to 10155
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."

Getting 10155 to 10160
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n, \n\n\n\n Village chief dies in North Cota..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[ MoviesDB MoviesDB Search ...

Getting 10160 to 10165
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , , \n\n\n\n\n \n\n\n\n\n\n \n\n\n\nSearch\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 10165 to 10170
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philippi...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philippi...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philippi...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philippi...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."

Getting 10170 to 10175
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."

Getting 10175 to 10180
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\tsetTimeout(function() {\n\t\tconst ..."

Getting 10180 to 10185
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\tsetTimeout(function() {\n\t\tconst ..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[NDTVBusiness हिन्दीMoviesCricketLifestyleHeal...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\nSkip to content\n\n\n\n\n\n\n\n\n\n\n\n\nCo...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n, \n\n, \n\nSection\n\nHome\nPoliticsSo..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n \n\n\n \n \n\nHome\n\n\n\n News\n\n\n\n ..."

Getting 10185 to 10190
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\nReceive up-to-the-minute news updates on th...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...

Getting 10190 to 10195
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."

Getting 10195 to 10200
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[Jump toSections of this pageAccessibility hel...

Getting 10200 to 10205
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\r\nvar sc_project=461074;\r\nvar sc_pa...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\nข่าวประชาสัมพันธ์\nข้อคิดความเห็น\nตระกูลคล...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\nข่าวประชาสัมพันธ์\nข้อคิดความเห็น\nตระกูลคล...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 10205 to 10210
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n, \n, \n HELLO FEATURE MARKUP VAL: \n\nWelc..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\nWelcome to Rappler, please select your de..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\nWelcome to Rappler, please select your de..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\nWelcome to Rappler, please select your de..."

Getting 10210 to 10215
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\nWelcome to Rappler, please select your de..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\nWelcome to Rappler, please select your de..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\nWe've detected that JavaScript is disable...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\nOverview\nHistory\nGT...

Getting 10215 to 10220
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\n\nJanuary 30\n\nFrom Wikipedia,..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\nSections\n\n\nNews\nMetro...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\nfacebook\n\n\n\nE...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\nNavigation Menu\n\n\n\n\nOn This Day\n\...

Getting 10220 to 10225
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n...\n\n\n, \n\n...\n\n, \n...\n, \n\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n Create!\n]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n Create!\n]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\nWHOOPS!\nThe Page You're ...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."

Getting 10225 to 10230
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n Home\n Add Docum...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[BIGtheme.net http://bigtheme.net/ecommerce/op...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n, \n\n Skip to main content\n \n,..."

Getting 10230 to 10235
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\n\nZamboanga Del Sur News\n\nFro..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."

Getting 10235 to 10240
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[BIGtheme.net http://bigtheme.net/ecommerce/op...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\nSkip to main content\n, \n\n\n\n\n\n\n\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\nSkip to main content\n, \n\n\n\n\n\n\n\n\n\..."

Getting 10240 to 10245
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."

Getting 10245 to 10250
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\r\nvar sc_project=461074;\r\nvar sc_pa...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n...\n\n\n, \n\n...\n\n, \n...\n, \n\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n...\n\n\n, \n\n...\n\n, \n...\n, \n\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n \n if (show_overlay==1 || (dfp_pre...

Getting 10250 to 10255
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , , , , , , Breaking NewsWorld+USAfricaAmer..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n, \n\n\n\n\n\n\n\n\n\n\n\n\n\nA..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[Log InRegisterMost PopularStudyBusinessDesign...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10255 to 10260
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."

Getting 10260 to 10265
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n, \n, \n HELLO FEATURE MARKUP VAL: \n\nWelc..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\r\n\t\t\tvar addthis_config =\r\n\t\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[SectionsSEARCHSkip to contentSkip to site ind...

Getting 10265 to 10270
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n, \n\n\n\n\n\n\n\n\n\n\n\n\n\nA..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n \n if (show_overlay==1 || (dfp_pre...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\t\t\t\t\tJapan News\n\n\n\n\t\t\t\tSat...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10270 to 10275
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n Communication ..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\nEmail: [email protected]\n\n\n ...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\nContact\nAdvertise\nThaiVisa\nAsia Ne...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\nContact\nAdvertise\nThaiVisa\nAsia Ne...

Getting 10275 to 10280
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n , \n\n\n\n\n\nLabs\nBlog\nMobile\n\n\n\n\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...

Getting 10280 to 10285
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n, \n\n Trending | Quiz..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10285 to 10290
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n, \n, \n HELLO FEATURE MARKUP VAL: \n\nWelc..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."

Getting 10290 to 10295
<class 'list'>

                                                   0             1   2
0  https://newsinfo.inquirer.net/699492/police-of...  201506180097  []
1     https://en.wikipedia.org/wiki/Battle_of_Marawi  201506190018  []
2  https://www.google.com.sg/search?source=hp&ei=...  201506190018  []
3  https://en.wikipedia.org/wiki/Timeline_of_the_...  201506190018  []
4  https://www.crisisgroup.org/crisiswatch/print?...  201506190018  []

Getting 10295 to 10300
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 10300 to 10305
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\nOverview\nHistory\nGT...

Getting 10305 to 10310
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[ X , X, X, \n var BASE_URL = domain_..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, NewsNightly NewsMeet the PressDatelineMSNBC..."

Getting 10310 to 10315
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n, \n\n\n\n\n\n\n\n\n\n \n\n\n, \n\n\n\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10315 to 10320
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , , , \n\n\n\nTo install click the Add exte..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."

Getting 10320 to 10325
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\n/*added some generic ne..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10325 to 10330
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n, \n, \n HELLO FEATURE MARKUP VAL: \n\nWelc..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n, \n\n Skip to main content\n \n,..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 10330 to 10335
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\nToggle navigation\n\n\n\n\n\n\n\n\n...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10335 to 10340
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\nMonitoring progress in elimin...

Getting 10340 to 10345
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n, \n\n\n\n\n\n\n\n\n\n\n\n\n\nA..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\nMenu\nThe Diplomat\nAccount, Menu, Account,..."

Getting 10345 to 10350
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n(formerly IRIN News)\nJournalism from...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n, \n\n\n, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[We are sorry, but the page you were looking f..."

Getting 10350 to 10355
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\n2006 Central Mindanao bombings\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\nWe use cookies to distinguish you from ...

Getting 10355 to 10360
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\nWe use cookies to distinguish you from ...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , , , International Business Times UK, Inte..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."

Getting 10360 to 10365
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , , \n\n\n\n\n\n\n\n\n\n \n\n\n\n\n\n\n\n\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\nList of films shot in Thailand\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\nPHILIPPINE POWER INSIGHTS\n\n\n\nSk..."

Getting 10365 to 10370
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\nPHILIPPINE POWER INSIGHTS\n\n\n\nSk..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\nPHILIPPINE POWER INSIGHTS\n\n\n\nSk..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\nPHILIPPINE POWER INSIGHTS\n\n\n\nSk..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\nPHILIPPINE POWER INSIGHTS\n\n\n\nSk..."

Getting 10370 to 10375
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\nPHILIPPINE POWER INSIGHTS\n\n\n\nSk..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\nPHILIPPINE POWER INSIGHTS\n\n\n\nSk..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\tsetTimeout(function() {\n\t\tconst ..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[X, , , , X, \n\nEdition:\n\nUnited States\n\n..."

Getting 10375 to 10380
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n \n\n\n \n \n\nHome\n\n\n\n News\n\n\n\n ..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\r\nvar sc_project=461074;\r\nvar sc_pa...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 10380 to 10385
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 10385 to 10390
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."

Getting 10390 to 10395
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\r\nvar sc_project=461074;\r\nvar sc_pa...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\nข่าวประชาสัมพันธ์\nข้อคิดความเห็น\nตระกูลคล...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\nข่าวประชาสัมพันธ์\nข้อคิดความเห็น\nตระกูลคล...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n \n if (show_overlay==1 || (dfp_pre...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\nSkip to Main Content\n, \n\n\n\n\n\n\n\n\n\..."

Getting 10395 to 10400
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[SectionsSEARCHSkip to contentSkip to site ind...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[SectionsSEARCHSkip to contentSkip to site ind...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n ..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\nSearch The Bureau Website\n\n\nTh...

Getting 10400 to 10405
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 10405 to 10410
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[We are sorry, but the page you were looking f..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[We are sorry, but the page you were looking f..."

Getting 10410 to 10415
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[We are sorry, but the page you were looking f..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\n \n\n \n\n \n\n\n\n \n\n\...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n \n\n\n\n Home\n\n\n \n \n\nNews\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n dfp_displaySlot('mm-oop')...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...

Getting 10415 to 10420
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[ jQuery(document).ready(function (e) {\n ...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[ jQuery(document).ready(function (e) {\n ...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\r\nvar sc_project=461074;\r\nvar sc_pa...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10420 to 10425
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[Jump toSections of this pageAccessibility hel...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n, \n\n\n\n\n\nToggle navigation\n\n\n\n\n\n..."

Getting 10425 to 10430
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n, \n\n\n\n\n\nToggle navigation\n\n\n\n\n\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\nOverview\nHistory\nGT...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\nToggle navigation\n \n\n \n\n\n\...

Getting 10430 to 10435
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\nToggle navigation\n \n\n \n\n\n\...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10435 to 10440
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n Toggle navigation\nContents\nEnglish\r\n...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\nContact\nAdvertise\nThaiVisa\nAsia Ne...

Getting 10440 to 10445
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\nContact\nAdvertise\nThaiVisa\nAsia Ne...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\nList of terrorist incidents in ..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, CreateExploreLearn & supportGet startedLog ..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\nWikiVisually\n\n\n\nthe entir..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\n\n\n\n<!--\r\ngoogle_ad_client = ""pub-4..."

Getting 10445 to 10450
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...

Getting 10450 to 10455
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[Jump toSections of this pageAccessibility hel...

Getting 10455 to 10460
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[Jump toSections of this pageAccessibility hel...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\nIndyWatch Brisbane QLD\nAll Topics ...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\nIndyWatch All AU News\nFeed Archive...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\nIndyWatch All World\nNews Feed Arch...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10460 to 10465
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[SectionsSEARCHSkip to contentSkip to site ind...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\nAbout Us\nInstitute News\nEvents\nCall ...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10465 to 10470
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\nContact\nAdvertise\nThaiVisa\nAsia Ne...

Getting 10470 to 10475
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nMenu\n\n\n\...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n IS...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 10475 to 10480
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\n\nLog in or Sign up\n\n\n\n\n, \n\n\nLo..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[Site MapWorldU.S.N.Y. / RegionBusinessTechnol...

Getting 10480 to 10485
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , NewsOpinionSportsBus..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , NewsOpinionSportsBus..."

Getting 10485 to 10490
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \nNava ,..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\nSpanish–Moro conflict\n\nFrom W..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\nList of political families in t..."

Getting 10490 to 10495
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\nToggle Accessibility Statement\nSki...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\tsetTimeout(function() {\n\t\tconst ..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10495 to 10500
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\nNEWS\n, \n\nLog in\nSign up\nWeb search\n\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\nWe're using cookies to improve your e...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[Search Images Maps Play YouTube News Gmail Dr...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."

Getting 10500 to 10505
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n, , \n\n\n\n\n\nTelegraph logo\n\n\n\n\nH..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n \n\n\n\n\n\n\n\nU.S. Embassy in th..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\nEduc..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\nWelcome to Rappler, please select your de..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 10505 to 10510
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."

Getting 10510 to 10515
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[SUBSCRIBE NOWfor full accessHomeNewsSportsBus...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."

Getting 10515 to 10520
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \nManila Bulletin Philippines\nBreaking New..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n, \n, \n HELLO FEATURE MARKUP VAL: \n\nWelc..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\nmenu\nclose\n\n\n\n\nsearch\n\nAbout+Edit...

Getting 10520 to 10525
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\nSections\n\nHome\n\nSearch\nSkip to c...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n, \n\n\n\n\n\n\n\n\n\n \n\n\n, \n\n\n\n\n\..."

Getting 10525 to 10530
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n \n\n\n \n \n\nHome\n\n\n\n News\n\n\n\n ..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\nข่าวประชาสัมพันธ์\nข้อคิดความเห็น\nตระกูลคล...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\nข่าวประชาสัมพันธ์\nข้อคิดความเห็น\nตระกูลคล...

Getting 10530 to 10535
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\r\nvar sc_project=461074;\r\nvar sc_pa...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."

Getting 10535 to 10540
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\nHome\nAbout\nResearch Institute\nHD T...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10540 to 10545
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\nMembers Log In\n\n\ntwitter\nfacebo...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\nToggle navigation\n\n\n\n\n\n\n\n\n\n\n...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n \n\r\n var googletag = googletag || {};\r...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\nDaily Express\nThe Express Tribun..."

Getting 10545 to 10550
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n \n\n\n \n \n\nHome\n\n\n\n News\n\n\n\n ..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[NDTVBusinessHindiMoviesCricketLifestyleHealth...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 10550 to 10555
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n Islamic State claims powerful van...

Getting 10555 to 10560
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n● Watch Live\n\n\n\n\n\n\n \n\...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[AP NEWSTop StoriesTopicsVideoListenAP RADIOUp...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[ShowsThis Day In HistoryScheduleTopicsStories...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 10560 to 10565
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n\r\n The ...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n\n\n, \..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n\n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n\n\n, \..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n\n\n, \..."

Getting 10565 to 10570
<class 'list'>

                                                   0             1   2
0  https://newsinfo.inquirer.net/699492/police-of...  201506180097  []
1     https://en.wikipedia.org/wiki/Battle_of_Marawi  201506190018  []
2  https://www.google.com.sg/search?source=hp&ei=...  201506190018  []
3  https://en.wikipedia.org/wiki/Timeline_of_the_...  201506190018  []
4  https://www.crisisgroup.org/crisiswatch/print?...  201506190018  []

Getting 10570 to 10575
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\r\nvar sc_project=461074;\r\nvar sc_pa...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n, \n\n\n\n\n\nToggle navigation\n\n\n\n\n\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10575 to 10580
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[BIGtheme.net http://bigtheme.net/ecommerce/op...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\nToggle Accessibility Statement\nSki...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\nTheJakartaPost\nPlease Update your brow..."

Getting 10580 to 10585
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\nTheJakartaPost\nPlease Update your brow..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10585 to 10590
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nTod...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\nContact\nAdvertise\nThaiVisa\nAsia Ne...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 10590 to 10595
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10595 to 10600
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 10600 to 10605
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."

Getting 10605 to 10610
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10610 to 10615
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\r\nvar sc_project=461074;\r\nvar sc_pa...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n \n if (show_overlay==1 || (dfp_pre...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n, \n\n\n\n\nHome\n\n\nNews\n\n\nWeather\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nLEARNING\n, \n\nLog in\nSign up\nWeb sear..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10615 to 10620
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n, \n\n\n\n\n\nToggle navigation\n\n\n\n\n\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n, \n\r\n {""@context"":""https://schema.o..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[スマートフォン専用ページを表示, \n\n\npinoyちゃんねる\npinoy news..."

Getting 10620 to 10625
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n function setAttributeOnload(object, a..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[HomeLive StreamEditors' ChoiceRecipes & Tutor...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[HomeLive StreamEditors' ChoiceRecipes & Tutor...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[HomeLive StreamEditors' ChoiceRecipes & Tutor...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\ncandyonline.tk\nFree Mp3 Downlo...

Getting 10625 to 10630
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\n\r\n\t35,019,356 articles and books\n\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\r\nvar sc_project=461074;\r\nvar sc_pa...

Getting 10630 to 10635
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."

Getting 10635 to 10640
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."

Getting 10640 to 10645
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[SectionsSEARCHSkip to contentSkip to site ind...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\n\n1 May 2015 Jalisco attacks\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, Never miss a great news story!Get instant n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\nSkip to main content\n, \n\n\n\n\n\n\n\n\n\..."

Getting 10645 to 10650
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\nSearch The Bureau Website\n\n\nTh...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\nMapping Militant Organizations\n\n\n, \nM..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\nToggle navigation\n\n\nGOV PH\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n, \n\n Skip to main content\n \n,..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n, \n, \n HELLO FEATURE MARKUP VAL: \n\nWelc..."

Getting 10650 to 10655
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n (function(w,d,s,l,i){w[l]=w[l]||[];w[l].pu..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n200-125 |\r\n100-105 |\r\n300-320 |\r\n210-...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10655 to 10660
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \nManila Bulletin Philippines\nBreaking New..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\n\nLog in or Sign up\n\n\n\n\n, \n\n\nLo..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10660 to 10665
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\nSkip to main content\n, \n\n\n\n\n/*Increas..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\nAdvertisement\n\n\n\n googletag.cmd....
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\nWarning:\n\tThe NCBI web site req...

Getting 10665 to 10670
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\nSkip to Main Content\n, \n\n\n\n \n var ..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\n2015 Nigerian general election\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n My News \n...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\n\r\n\t35,019,356 articles and books\n\n..."

Getting 10670 to 10675
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\n2009 Mindanao bombings\n\nFrom ..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\tvar mps=mps||{}; mps._queue=mps._queue|...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."

Getting 10675 to 10680
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 10680 to 10685
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\n\n\n\n\nvar aT0 = ""news"";var aT1 = ""Ema..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, system, \n\n\n\n<!--//<![CDATA[\r\n\t\t\t\t..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\nsuperiorpaneltechnology.com\n\n\n\n...

Getting 10685 to 10690
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."

Getting 10690 to 10695
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 10695 to 10700
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."

Getting 10700 to 10705
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\n\r\n\t35,019,356 articles and books\n\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n, \n\n\n\n\n\nToggle navigation\n\n\n\n\n\n..."

Getting 10705 to 10710
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\n\n\n, \n\n\n\n, \n, \n\n\n\n\n\nToggle ..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n, \n\n\n\n\n\nToggle navigation\n\n\n\n\n\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n, \n\r\n {""@context"":""https://schema.o..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n, \n\r\n {""@context"":""https://schema.o..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n, \n\r\n {""@context"":""https://schema.o..."

Getting 10710 to 10715
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\nSearch\n, \n\nLog in\nSign up\nWeb search\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\nโพสต์ทูเดย์ : มากกว่าข่าว ทุกเรื่...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nSearc..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nSearc..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nSearc..."

Getting 10715 to 10720
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nSearc..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nSearc..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nSearc..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nSearc..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nSearc..."

Getting 10720 to 10725
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nSearc..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\nOverview\nHistory\nGT...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\r\nvar sc_project=461074;\r\nvar sc_pa...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."

Getting 10725 to 10730
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...

Getting 10730 to 10735
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nSearc..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nSearc..."

Getting 10735 to 10740
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nSearc..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\r\n\t\t\t\t\tNew perspectives on Sou...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\nNYTimes.com no longer supports Inte...

Getting 10740 to 10745
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n, \n\n\n\n, \n\n\n\n\nDepartment of Defen..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[Search Images Maps Play YouTube News Gmail Dr...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\nHow to contact WikiLeaks?\nWhat is Tor?...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\n\r\n\t35,019,356 articles and books\n\n..."

Getting 10745 to 10750
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\nHome\nCHINA HONGKONG TAIWAN\n\nCH...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\nHome\nCHINA HONGKONG TAIWAN\n\nCH...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\nHome\nCHINA HONGKONG TAIWAN\n\nCH...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...

Getting 10750 to 10755
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\r\nvar sc_project=461074;\r\nvar sc_pa...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\nCollapse\n\n\nDonate\n\nCart0...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n \n if (show_overlay==1 || (dfp_pre...

Getting 10755 to 10760
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n/*<![CDATA[*/ (function() { if (window.bbcd...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n/*<![CDATA[*/ (function() { if (window.bbcd...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\nTerrorism in Saudi Arabia\n\nFr..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\nTimeline of ISIL-related events..."

Getting 10760 to 10765
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n //<![CDATA[\n ...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n \n if (show_overlay==1 || (dfp_pre...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\nMAC: Mines and Communities\n, \n\nHome |\nC..."

Getting 10765 to 10770
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\nMexican Drug War\n\nFrom Wikipe..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."

Getting 10770 to 10775
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n, \n, \n HELLO FEATURE MARKUP VAL: \n\nWelc..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...

Getting 10775 to 10780
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\nBlog\nGlobal Presence\n\n\nEspañol\nEng...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n, \n\n\n\n\n\nToggle navigation\n\n\n\n\n\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10780 to 10785
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\nNewsLookup.com cached copy of: http://...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."

Getting 10785 to 10790
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\nToggle navigation\n\n\nGOV PH\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."

Getting 10790 to 10795
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \nManila Bulletin Philippines\nBreaking New..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 10795 to 10800
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\r\n .cbell {height: 56px; width: 970x..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\tsetTimeout(function() {\n\t\tconst ..."

Getting 10800 to 10805
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n, \n\n\n\n\n\n\n\n\n\n\n\n\n\nA..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n \n\n\n \n \n\nHome\n\n\n\n News\n\n\n\n ..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n, , \n\n\n\n\n\n\n\n\n\n\nTranscript Prov..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\nToggle navigation\n\n\n\n\n\n\n\n\n\n\n...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\nNEWS\n, \n\nLog in\nSign up\nWeb search\n\n..."

Getting 10805 to 10810
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\n2016 Kidapawan protests\n\nFrom..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\nSkip to main content\n, \n\n\n\n\n/*Increas..."

Getting 10810 to 10815
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\na.Video:before {content:""\f144""}\na.Car..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , 1 Desktop notifications are o..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , 1 Desktop notifications are o..."

Getting 10815 to 10820
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , 1 Desktop notifications are o..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , 1 Desktop notifications are o..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , 1 Desktop notifications are o..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , 1 Desktop notifications are o..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , 1 Desktop notifications are o..."

Getting 10820 to 10825
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , 1 Desktop notifications are o..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , 1 Desktop notifications are o..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , 1 Desktop notifications are o..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\t\t\t| Manila Bulletin |\n..."

Getting 10825 to 10830
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\t\t\t| Manila Bulletin |\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\t\t\t| Manila Bulletin |\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\nMembers Log In\n\n\ntwitter\nfacebo...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10830 to 10835
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n/*<![CDATA[*/ (function() { if (window.bbcd...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\nicon caret\n\n\n\nArrow Down\n\nArrow...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."

Getting 10835 to 10840

Can not load response cookies: Illegal key 'countries/malaysia'

<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n \n if (show_overlay==1 || (dfp_pre...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[ Policy Analysis CountriesCountries Iran...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\n\n\nDeutsch\nFrançais\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n\n\n, \..."

Getting 10840 to 10845
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n\n\n, \..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n\n\n, \..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n var defaultViewWidth = defaultViewWidth...

Getting 10845 to 10850
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n var defaultViewWidth = defaultViewWidth...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 10850 to 10855
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\nCHINA\nGlobal Edition\n\n\nTwitter\n\n\...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\nข่าวประชาสัมพันธ์\nข้อคิดความเห็น\nตระกูลคล...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\nข่าวประชาสัมพันธ์\nข้อคิดความเห็น\nตระกูลคล...

Getting 10855 to 10860
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\nข่าวประชาสัมพันธ์\nข้อคิดความเห็น\nตระกูลคล...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\nSkip to content\n\n\n\n\n\n\n \n\n\n, , , \..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\nSearch\n, \n\nLog in\nSign up\nWeb search\n..."

Getting 10860 to 10865
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10865 to 10870
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n\n\n\n\n\n East Asia/S...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n Trending | Quiz..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10870 to 10875
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[Jump toSections of this pageAccessibility hel...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n , \n\n\n\n\n\nLabs\nBlog\nMobile\n\n\n\n\n..."

Getting 10875 to 10880
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nSearc..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nSearc..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\nSupport UsContact UsLinksBurmes...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\nSearch form\n\nSearch this si...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10880 to 10885
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n, \n\n\n, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n ..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\nNews Summary\n\n\nAbout EMM NewsExplore...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10885 to 10890
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\nBusiness Insider LogoLogo for B..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\r\n The ...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."

Getting 10890 to 10895
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."

Getting 10895 to 10900
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n, \n\n\n\n\n\nToggle navigation\n\n\n\n\n\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\nPlease turn JavaScript on and reload the pa...

Getting 10900 to 10905
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\nPlease turn JavaScript on and reload the pa...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\nToggle navigation\n\n\n\nCommittee to P...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\r\n (adsbygoogle ..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\nGOVPH\n\n\n\n\n\n\nPhilippi..."

Getting 10905 to 10910
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\nPortal:Current events/March 201..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n \n if (show_overlay==1 || (dfp_pre...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10910 to 10915
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\n \n\n\n\nHome\nFAQ\nContact\n\n\n\n\n, ..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nFANDOM\n\n\n\n\n\n \n\n\n\tGames\n\n\tMov..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\nAP\n\n|\n\nAP Images\n\n\n, , \n\n\n\n\..."

Getting 10915 to 10920
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\t\t\t| Manila Bulletin |\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\t\t\t| Manila Bulletin |\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\t\t\t| Manila Bulletin |\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\t\t\t| Manila Bulletin |\n..."

Getting 10920 to 10925
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\t\t\t| Manila Bulletin |\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\t\t\t| Manila Bulletin |\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10925 to 10930
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\nThai PBS English News\n\n\nThe Broadc...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\nContact\nAdvertise\nThaiVisa\nAsia Ne...

Getting 10930 to 10935
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n \n if (show_overlay==1 || (dfp_pre...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10935 to 10940
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\r\n The ...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\t\t\t| Manila Bulletin |\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\t\t\t| Manila Bulletin |\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\ngoogletag.cmd.push(function() { g...

Getting 10940 to 10945
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\ngoogletag.cmd.push(function() { g...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\ngoogletag.cmd.push(function() { g...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\ngoogletag.cmd.push(function() { g...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\ngoogletag.cmd.push(function() { g...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 10945 to 10950
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n ...

Getting 10950 to 10955
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\n2006 Thai coup d'état\n\nFrom W..."

Getting 10955 to 10960
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\n\n\nNEWS SUMMED UP\n\n\n ..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."

Getting 10960 to 10965
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n, \n, \n HELLO FEATURE MARKUP VAL: \n\nWelc..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\nWelcome to Rappler, please select your de..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\nWelcome to Rappler, please select your de..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\nWelcome to Rappler, please select your de..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[Log inSign up <%\n var query = result...

Getting 10965 to 10970
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\nWikiVisually\n\n\n\nthe entir..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\ngoogletag.cmd.push(function() { g...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\nError\n520\nRay ID: 4c6dad7de8b49469 ...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n \n if (show_overlay==1 || (dfp_pre...

Getting 10970 to 10975
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[SectionsSEARCHSkip to contentSkip to site ind...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[AP NEWSTop StoriesTopicsVideoListenAP RADIOUp...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\nSEPTEMBER \n29 , 2000 VOL. 26 NO. 38 | SE..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."

Getting 10975 to 10980
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\nFrancisco José Pineda\n\n\n\n\nInicio\n...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n.cls-1{fill:#bfbebe}.cls-2{fill...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\nThe White House said in a statement Presi...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\nThai PBS English News\n\n\nThe Broadc...

Getting 10980 to 10985
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\nEnter Site\n\n\n, \n\nEnter Site\n\n, \..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[NationalSportLife & StyleWorldEntertainmentBu...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\r\n googletag.cmd..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n \n\r\n var googletag = googletag || {};\r...

Getting 10985 to 10990
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\nMuir Analytics\n\n\nASSESSING THR...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 10990 to 10995
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\nvisayanbizpost\nLocal News for the Global...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 10995 to 11000
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n×\n\nSubscribe now to get news every day fr...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n, \n\n Skip to main content\n \n,..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11000 to 11005
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[CREATIVEProject #ShowUsEDITORIALVIDEOBBC Moti...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n, \n\n, \n\n, \n, \n\n\n\n\n\n\n\n\n\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n Thai police claim suspect with ba...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n Thai police say coordinated blast...

Getting 11005 to 11010
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n My News \n...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\nMenu\nThe Diplomat\nAccount, Menu, Account,..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\n2016 Jakarta attacks\n\nFrom Wi..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\nSkip to content\n\n\n\n\n\n\n\n\n\n\n\n\n\n...

Getting 11010 to 11015
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n My Sports News ...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n, \n\n\n\n\n\nToggle navigation\n\n\n\n\n\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\nen_gb\nid\n \n\n\n\n\...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n \n if (show_overlay==1 || (dfp_pre...

Getting 11015 to 11020
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\nTheJakartaPost\nPlease Update your brow..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\tsetTimeout(function() {\n\t\tconst ..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\nIVLE\nEmail\nLibrary\nMap\n...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n, \n\n\n, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\..."

Getting 11020 to 11025
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n \n if (show_overlay==1 || (dfp_pre...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\r\n\t\t\t\t\tNew perspectives on Sou...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11025 to 11030
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[SectionsSEARCHSkip to contentSkip to site ind...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n/*<![CDATA[*/ (function() { if (window.bbcd...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n, \n\n Skip to main content\n \n,..."

Getting 11030 to 11035
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[ Home Contact Us ...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\nHOME\nNEWSNEWSPhuketThailandWorldBusiness...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\tsetTimeout(function() {\n\t\tconst ..."

Getting 11035 to 11040
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n First tourist town blast suspect ...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[We are sorry, but the page you were looking f..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[We are sorry, but the page you were looking f..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11040 to 11045
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\n\n\n, \n\n\n\n, \n, \n\n\n\n\n\nToggle ..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 11045 to 11050
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\nOverview\nHistory\nGT...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\nBreadcrumbs\n\n\n\nYou are here...

Getting 11050 to 11055
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\nBreadcrumbs\n\n\n\n\nSearch\n\n...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\n\n\n, \n\n\n\n, \n, \n\n\n\n\n\nToggle ..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[BIGtheme.net http://bigtheme.net/ecommerce/op...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n \n\n\n\n Home\n\n\n \n \n\nNews\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n \n\n\n\n Home\n\n\n \n \n\nNews\n\..."

Getting 11055 to 11060
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n \n\n\n\n Home\n\n\n \n \n\nNews\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[Search Images Maps Play YouTube News Gmail Dr...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11060 to 11065
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\n\nLog in or Sign up\n\n\n\n\n, \n\n\nLo..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\ngoogletag.cmd.push(function() { g...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\ngoogletag.cmd.push(function() { g...

Getting 11065 to 11070
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n\n\n\n\nOverview\nHistory\nGT...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."

Getting 11070 to 11075
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\nweehingthong\n\n\ngeneral interes...

Getting 11075 to 11080
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\t\t\t\t\t\twww.enacademic.com\...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n Log in\nRegistration\n\n\n\n...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\nContact\nAdvertise\nThaiVisa\nAsia Ne...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\nContact\nAdvertise\nThaiVisa\nAsia Ne...

Getting 11080 to 11085
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\nข่าวประชาสัมพันธ์\nข้อคิดความเห็น\nตระกูลคล...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\nข่าวประชาสัมพันธ์\nข้อคิดความเห็น\nตระกูลคล...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\nBeritaVideoFotoLive \n\nToggl...

Getting 11085 to 11090
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\nx\nУзнайте об уникальных возможностях работ...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n, \n\n\n, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n, \n\n\n, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n, \n\n\n, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n Data & Analysis\n..."

Getting 11090 to 11095
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\nicon caret\n\n\n\nArrow Down\n\nArrow...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11095 to 11100
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\nNow Trending:\n\nWar vets, new heroes h..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\nNow Trending:\n\nWar vets, new heroes h..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n UMDL Texts home \n\n Login \n\n...

Getting 11100 to 11105
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."

Getting 11105 to 11110
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\ngoogletag.cmd.push(function() { g...

Getting 11110 to 11115
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\ngoogletag.cmd.push(function() { g...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n \n\n\n \n \n\nHome\n\n\n\n News\n\n\n\n ..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n ...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n ...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\nPlease turn JavaScript on and reload the pa...

Getting 11115 to 11120
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."

Getting 11120 to 11125
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\ngoogletag.cmd.push(function() { g...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\ngoogletag.cmd.push(function() { g...

Getting 11125 to 11130
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\n\n\nNEWS SUMMED UP\n\n\n ..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[We use cookies to make interactions with our ...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\n\n2011 in the Philippines\n\nFr..."

Getting 11130 to 11135
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\nPortal:Current events/October 2..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n \n\n\n\n Home\n\n\n \n \n\nNews\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\n\n\n\n\n, \n\n\n\n\n, \n\n\n, \n, \n\n\..."

Getting 11135 to 11140
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\nOne News Page\n\n\n\n\n\n\n\n\n 📝 Top St...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\t\t\tToday's hot news\n\t\t\t\n\n\n\n\...

Getting 11140 to 11145
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n \n if (show_overlay==1 || (dfp_pre...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11145 to 11150
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\nOrganization of Asia-Pacific Ne..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\nToggle navigation\n\n\n\n\n\n\n\n\n\n\n...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\nToggle navigation\n\n\n\n\n\n\n\n\n\n\n...

Getting 11150 to 11155
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\nBertelsmann Stiftung\n\n, \nSearch\n\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\nAccessibility links\n\nSkip to main content...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 11155 to 11160
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\nBusiness Insider LogoLogo for B..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n \n\n\n \n \n\nHome\n\n\n\n News\n\n\n\n ..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\nAbout\nPrivacy Policy\nSubmission...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n Home\n ...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\nSections\n\nHome\n\nSearch\nSkip to c...

Getting 11160 to 11165
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n \n if (show_overlay==1 || (dfp_pre...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\nOpen Sites menu\n\n\nABC Home\nNews\niview\...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\nYogyakarta\n\nFrom Wikipedia, t..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n Wife of arrested militant dies in...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."

Getting 11165 to 11170
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\nLast Updated Oct 26, 2016 1:17 AM EDT CLE..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."

Getting 11170 to 11175
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\n\n\nNEWS SUMMED UP\n\n\n ..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\ngoogletag.cmd.push(function() { g...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\nvisayanbizpost\nLocal News for the Global...

Getting 11175 to 11180
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n\n\n\n\n\nCollateral damage i...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\nTheJakartaPost\nPlease Update your brow..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\nWSWS\nICFI\nMehring Books\n\n\n\nMobile...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\nHome\nDRPM UI\nUniversitas Indonesi...

Getting 11180 to 11185
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n \t\t\t\t\tThis site uses cookies...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n World economies fear being collat...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11185 to 11190
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\nDeaths in December 2010\n\nFrom..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\nDiplomatic Briefing\nYour exclusive n...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\nThe Hal Lindsey Report\n\n\nStoreDonate...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n, \nFor faster navigation, this Iframe is p..."

Getting 11190 to 11195
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[Search Images Maps Play YouTube Gmail Drive C...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\n\nEBO Myanmar\nADDB Inc - Canada, Euro-..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\n\n\n\n\n\n加载中…\n\n, , \n\n\n\n\n\n加载中…\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n/*<![CDATA[*/ (function() { if (window.bbcd...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11195 to 11200
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[SectionsSEARCHSkip to contentSkip to site ind...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[AP NEWSTop StoriesTopicsVideoListenAP RADIOUp...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\n\n\n\n\n, \n\n\n\n\n, \n\n\n, \n, \n\n\..."

Getting 11200 to 11205
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n\n\n\nHome \nNews \n\n\nMiddl...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\nAbout\nPrivacy Policy\nSubmission...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\nPolitics\nMilitary\nWar On Terror\nSoci...

Getting 11205 to 11210
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\nBỏ qua nội dung\n\n\nCVD\nConversations on ...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\nКыргызча\nНа русском\n\n\n\n\n\n\n\n\n\n\...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\nHow to contact WikiLeaks?\nWhat is Tor?...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11210 to 11215
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\nNow Trending:\n\nPabrika ng damit sa Ma...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n\nNow Trending:\n\nWar vets, new heroes h..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11215 to 11220
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\nOverview\nHistory\nGT...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\n\n\nNEWS SUMMED UP\n\n\n ..."

Getting 11220 to 11225
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , , , , , , Breaking NewsHome+WorldUS Polit..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\nSkip to main content\n, \n\n\nHelp us conti..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11225 to 11230
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n \n\n\n \n \n\nHome\n\n\n\n News\n\n\n\n ..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , NewsAccountSearchMapsYouTubePlayNewsGmail..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\nSkip to content\n\n\n\n\n\n\nWetinhappen....

Getting 11230 to 11235
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n \n if (show_overlay==1 || (dfp_pre...

Getting 11235 to 11240
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n ...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\nMaaf halaman tidak ditemukan\nHome\n\...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11240 to 11245
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\nicon caret\n\n\n\nArrow Down\n\nArrow...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\nEnter Site\n\n\n, \n\nEnter Site\n\n, \..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n\n\n\n\n<!--\r\ngoogle_ad_client = ""pub-4..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\nコンテンツへ移動\n\n\n40才までに東南アジア(ASEAN)言語を全部覚える\n多...

Getting 11245 to 11250
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\nコンテンツへ移動\n\n\n40才までに東南アジア(ASEAN)言語を全部覚える\n多...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\nコンテンツへ移動\n\n\n40才までに東南アジア(ASEAN)言語を全部覚える\n多...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11250 to 11255
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , , \n\n\n\n\n \n\n\n\n\n\n \n\n\n\nSearch\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\nKANPUR, India, Nov. 20 (UPI) -- More than..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11255 to 11260
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11260 to 11265
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\r\n\t\t\tOs cookies de educalingo são usad...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\r\n\t\t\tLas cookies de educalingo se usan...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\nCookie educalingo vengono utilizzati per ...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\nMuse offensive\n\nFrom Wikipedi..."

Getting 11265 to 11270
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \nSkip to main content\n, \n\n\n\n\n\n ..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11270 to 11275
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n (moaKnl = window.moaKnl || []).push({\n...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\n\nEBO Myanmar\nADDB Inc - Canada, Euro-..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11275 to 11280
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\nToggle navigation\n\n World\n Politi...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\nHavana, Nov 26 (IANS) Fidel Castro has di..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11280 to 11285
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\nContact\nAdvertise\nThaiVisa\nAsia Ne...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\nข่าวประชาสัมพันธ์\nข้อคิดความเห็น\nตระกูลคล...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\nข่าวประชาสัมพันธ์\nข้อคิดความเห็น\nตระกูลคล...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\nข่าวประชาสัมพันธ์\nข้อคิดความเห็น\nตระกูลคล...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\nข่าวประชาสัมพันธ์\nข้อคิดความเห็น\nตระกูลคล...

Getting 11285 to 11290
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n \n\n\n\n\nUS\nEUROPE\nAFRICA\nASIA\n\n\n...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n \n\n\n\n\nUS\nEUROPE\nAFRICA\nASIA\n\n\n...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n \n\n\n\n\nUS\nEUROPE\nAFRICA\nASIA\n\n\n...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n \n\n\n\n\nUS\nEUROPE\nAFRICA\nASIA\n\n\n...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n \n\n\n\n\nUS\nEUROPE\nAFRICA\nASIA\n\n\n...

Getting 11290 to 11295
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n \n\n\n\n\nUS\nEUROPE\nAFRICA\nASIA\n\n\n...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n \n\n\n\n\nUS\nEUROPE\nAFRICA\nASIA\n\n\n...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n \n\n\n\n\nUS\nEUROPE\nAFRICA\nASIA\n\n\n...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n \n\n\n\n\nUS\nEUROPE\nAFRICA\nASIA\n\n\n...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11295 to 11300
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\nContact\nAdvertise\nThaiVisa\nAsia Ne...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[BIGtheme.net http://bigtheme.net/ecommerce/op...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n, \n\n Skip to main content\n \n,..."

Getting 11300 to 11305
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\nvar loadCseCallback=function(){var r=do...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\nSkip to content\n\n\n\n\n\n\n\n\n\n\n\n\n\n...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."

Getting 11305 to 11310

Can not load response cookies: Illegal key 'countries/turkey'

<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \nManila Bulletin Philippines\nBreaking New..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n/*<![CDATA[*/ (function() { if (window.bbcd...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\n\n\nDeutsch\nFrançais\n..."

Getting 11310 to 11315
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\r\n var axel = Math.random() + """"..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[ Policy Analysis CountriesCountries Iran...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n \n if (show_overlay==1 || (dfp_pre...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\nSupport UsContact UsLinksBurmes...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\nSupport UsContact UsLinksBurmes...

Getting 11315 to 11320
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\nSupport UsContact UsLinksBurmes...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\nPolitics of Myanmar\n\nFrom Wik..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[ \n\n\n Foreign Policy Magazine\n\n\n\n\n\nNe...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n The Brookings Institution\n \n\n The..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11320 to 11325
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\ngoogletag.cmd.push(function() { g...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\ngoogletag.cmd.push(function() { g...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11325 to 11330
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\ngoogletag.cmd.push(function() { g...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\ngoogletag.cmd.push(function() { g...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\ngoogletag.cmd.push(function() { g...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 11330 to 11335
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\nOverview\nHistory\nGT...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\nOverview\nHistory\nGT...

Getting 11335 to 11340
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\t\t\t| Manila Bulletin |\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\n\n\n\n\t\t\tSaturday, April 13, 2019\t\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\t\t\t| Manila Bulletin |\n..."

Getting 11340 to 11345
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\t\t\t| Manila Bulletin |\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\t\t\t| Manila Bulletin |\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\ngoogletag.cmd.push(function() { g...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n \n if (show_overlay==1 || (dfp_pre...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11345 to 11350
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\ngoogletag.cmd.push(function() { g...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11350 to 11355
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."

Getting 11355 to 11360
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\nNow Trending:\n\nWar vets, new heroes h..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\nOverview\nHistory\nGT...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n, \n\n, \n\n\r\n8 injured in buried bomb ..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n, \n\n, \n\n\r\nMyanmar military columns ..."

Getting 11360 to 11365
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n \n\n\n\n\nThe Rendon Group\nAbout\nServi...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n GSK China bribery co-ordinated at...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\nGoogle Tag Manager , \n\n\n\n\n\n\n\n\n\n\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\nSkip to main content\n, \n\n\n\n\n\n\n\n\nR..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[BIGtheme.net http://bigtheme.net/ecommerce/op...

Getting 11365 to 11370
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[BIGtheme.net http://bigtheme.net/ecommerce/op...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[BIGtheme.net http://bigtheme.net/ecommerce/op...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\ngoogletag.cmd.push(function() { g...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."

Getting 11370 to 11375
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\nToggle navigationANIAquatic News Index\...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , , \n\n\n\n\n \n\n\n\n\n\n \n\n\n\nSearch\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[BIGtheme.net http://bigtheme.net/ecommerce/op...

Getting 11375 to 11380
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\n\nLog in or Sign up\n\n\n\n\n, \n\n\nLo..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...

Getting 11380 to 11385
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n \n if (show_overlay==1 || (dfp_pre...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philippine...

Getting 11385 to 11390
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n Myanmar police blame grudge, not ..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."

Getting 11390 to 11395
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \nManila Bulletin Philippines\nBreaking New..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."

Getting 11395 to 11400
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\nNow Trending:\n\nWar vets, new heroes h..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n\nNow Trending:\n\nWar vets, new heroes h..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11400 to 11405
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\n/*added some generic ne..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\n/*added some generic ne..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 11405 to 11410
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11410 to 11415
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\nNow Trending:\n\nWar vets, new heroes h..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\nNow Trending:\n\nWar vets, new heroes h..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."

Getting 11415 to 11420
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \nManila Bulletin Philippines\nBreaking New..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\t\t\t\t\...

Getting 11420 to 11425
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."

Getting 11425 to 11430
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\nNow Trending:\n\nPabrika ng damit sa Ma...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\n\nLog in or Sign up\n\n\n\n\n, \n\n\nLo..."

Getting 11430 to 11435
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[Jump toSections of this pageAccessibility hel...

Getting 11435 to 11440
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[BIGtheme.net http://bigtheme.net/ecommerce/op...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\nPlease turn JavaScript on and reload the pa...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11440 to 11445
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\nNEWS\n, \n\nLog in\nSign up\nWeb search\n\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\nEnter Site\n\n\n, \n\nEnter Site\n\n, \..."

Getting 11445 to 11450
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n\n\n\n\n\nFoul!\n\n\n\n\n\n\n...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\nFoul!\n\n\n\n\n\n\n...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."

Getting 11450 to 11455
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\nWelcome to Rappler, please select your de..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\n\n\nNEWS SUMMED UP\n\n\n ..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 11455 to 11460
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\n\nLog in or Sign up\n\n\n\n\n, \n\n\nLo..."

Getting 11460 to 11465
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n, \n\n\n\n\n\nToggle navigation\n\n\n\n\n\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n \n if (show_overlay==1 || (dfp_pre...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."

Getting 11465 to 11470
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\tsetTimeout(function() {\n\t\tconst ..."

Getting 11470 to 11475
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n \n ..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n Tibetans to Sri Lankans, India we..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[SectionsSEARCHSkip to contentSkip to site ind...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\nSkip to main content\n, \n\n\nHelp us conti..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philippine...

Getting 11475 to 11480
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\nThe Big New..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\nThe Big New..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\nThe Big New..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11480 to 11485
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\n/*added some generic ne..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\n/*added some generic ne..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[Jump toSections of this pageAccessibility hel...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[Jump toSections of this pageAccessibility hel...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11485 to 11490
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\n\n\n\n\n, , , , , ]"
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n/*<![CDATA[*/ (function() { if (window.bbcd...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n/*<![CDATA[*/ (function() { if (window.bbcd...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n/*<![CDATA[*/ (function() { if (window.bbcd...

Getting 11490 to 11495
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n/*<![CDATA[*/ (function() { if (window.bbcd...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n/*<![CDATA[*/ (function() { if (window.bbcd...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n/*<![CDATA[*/ (function() { if (window.bbcd...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\nBBC Monitoring\n\nFrom Wikipedi..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[Jump toSections of this pageAccessibility hel...

Getting 11495 to 11500
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\nNow Trending:\n\nPabrika ng damit sa Ma...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, system, \n\n\n\n<!--//<![CDATA[\r\n\t\t\t\t..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\nTheJakartaPost\nPlease Update your brow..."

Getting 11500 to 11505

Can not load response cookies: Illegal key 'countries/indonesia'

<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n \n if (show_overlay==1 || (dfp_pre...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n \n if (show_overlay==1 || (dfp_pre...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\nX Close\n with photo\n without photo\nP..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\nTerrorism in Indonesia\n\nFrom ..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\n\n\nDeutsch\nFrançais\n..."

Getting 11505 to 11510
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[SUBSCRIBE NOWto get home deliveryNewsSportsLi...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nCagayan...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nCagayan...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nCagayan...

Getting 11510 to 11515
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n var defaultViewWidth = defaultViewWidth...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n var defaultViewWidth = defaultViewWidth...

Getting 11515 to 11520
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n var defaultViewWidth = defaultViewWidth...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[BIGtheme.net http://bigtheme.net/ecommerce/op...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\nQuezon City\n\nFrom Wikipedia, ..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 11520 to 11525
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 11525 to 11530
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\nBibleProphecyMan.com\n\n\t\t\tB...

Getting 11530 to 11535
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n \n\n\n \n \n\nHome\n\n\n\n News\n\n\n\n ..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\nHome\nApostasy\nDaniel 12 End Times G...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\r\nvar sc_project=461074;\r\nvar sc_pa...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11535 to 11540
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nCagayan...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nCagayan...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\r\n\t By continuing to use this site y...

Getting 11540 to 11545
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\r\n\t By continuing to use this site y...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 11545 to 11550
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, system, \n\n\n\n<!--//<![CDATA[\r\n\t\t\t\t..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."

Getting 11550 to 11555
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \nManila Bulletin Philippines\nBreaking New..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\nServer is Busy\nDue to in demand views on...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\n\n\n, \n\n\n, \n, \n\n\n\n\n\n\n\n\n\r\..."

Getting 11555 to 11560
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\nError\n520\nRay ID: 4c6e00730beaa5ea ...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n404\nNot Found\n, \n\n\n\n\n\nmalaysiandi..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."

Getting 11560 to 11565
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \nManila Bulletin Philippines\nBreaking New..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."

Getting 11565 to 11570
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \nManila Bulletin Philippines\nBreaking New..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[ X , X, X, \n var BASE_URL = domain_..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n, \n\n\n\n\nHome\n\n\nNews\n\n\nWeather\n..."

Getting 11570 to 11575
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nLuzon\nManila Bulletin Philippines\nBreak..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 11575 to 11580
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11580 to 11585
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n, \n, \n HELLO FEATURE MARKUP VAL: \n\nWelc..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n, \n, \n HELLO FEATURE MARKUP VAL: \n\nWelc..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."

Getting 11585 to 11590
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\n\n, \n\n\n\nAccess Check\nOur systems h..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\nToggle navigation\n\n\nGOV PH\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 11590 to 11595
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."

Getting 11595 to 11600
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \nManila Bulletin Philippines\nBreaking New..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."

Getting 11600 to 11605
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \nManila Bulletin Philippines\nBreaking New..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\nvisayanbizpost\nLocal News for the Global...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."

Getting 11605 to 11610
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\n\n, \n\n\n\nAccess Check\nOur systems h..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\nMain Menu\n \nCou...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\n\nLog in or Sign up\n\n\n\n\n, \n\n\nLo..."

Getting 11610 to 11615
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\nNow Trending:\n\nWar vets, new heroes h..."

Getting 11615 to 11620
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\nOverview\nHistory\nGT...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."

Getting 11620 to 11625
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n, \n\n\n, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[ ANGOP - Angola Press News Agency Go to home...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\nAbout\nPrivacy Policy\nSubmission...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\nBreaking News\n\nSports cance...

Getting 11625 to 11630
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\nBreaking News\n\nSports cance...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\r\n A...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 11630 to 11635
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...

Getting 11635 to 11640
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\n\n\n\n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\nNow Trending:\n\nPabrika ng damit sa Ma...

Getting 11640 to 11645
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\r\n\t\t\t\t\t\t\t\tgoogletag.cmd...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\r\n\t\t\t\t\t\t\t\tgoogletag.cmd...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\r\n\t\t\t\t\t\t\t\tgoogletag.cmd...

Getting 11645 to 11650
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\r\n\t\t\t\t\t\t\t\tgoogletag.cmd...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\r\n\t\t\t\t\t\t\t\tgoogletag.cmd...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\r\n\t\t\t\t\t\t\t\tgoogletag.cmd...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11650 to 11655
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\nOverview\nHistory\nGT...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\r\nvar sc_project=461074;\r\nvar sc_pa...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11655 to 11660
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\n\nLog in or Sign up\n\n\n\n\n, \n\n\nLo..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...

Getting 11660 to 11665
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\nOverview\nHistory\nGT...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n/*<![CDATA[*/ (function() { if (window.bbcd...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\r\n Sea...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n \n\n\n\n Home\n\n\n \n \n\nNews\n\..."

Getting 11665 to 11670
<class 'list'>

                                                   0             1   2
0  https://newsinfo.inquirer.net/699492/police-of...  201506180097  []
1     https://en.wikipedia.org/wiki/Battle_of_Marawi  201506190018  []
2  https://www.google.com.sg/search?source=hp&ei=...  201506190018  []
3  https://en.wikipedia.org/wiki/Timeline_of_the_...  201506190018  []
4  https://www.crisisgroup.org/crisiswatch/print?...  201506190018  []

Getting 11670 to 11675
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n, \n\n\n\n\nHome\n\n\nNews\n\n\nWeather\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\nBreadcrumbs\n\n\n\nYou are here...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11675 to 11680
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\nSkip to content\n\n\n\n\n\n\n\n\n\n\n\n\n\n...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\nข่าวประชาสัมพันธ์\nข้อคิดความเห็น\nตระกูลคล...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\nข่าวประชาสัมพันธ์\nข้อคิดความเห็น\nตระกูลคล...

Getting 11680 to 11685
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\nข่าวประชาสัมพันธ์\nข้อคิดความเห็น\nตระกูลคล...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\nข่าวประชาสัมพันธ์\nข้อคิดความเห็น\nตระกูลคล...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\nข่าวประชาสัมพันธ์\nข้อคิดความเห็น\nตระกูลคล...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11685 to 11690
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\nNewly-retired police inspector killed by RI...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11690 to 11695
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."

Getting 11695 to 11700
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\n\r\n\t35,019,356 articles and books\n\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\nNow Trending:\n\nPabrika ng damit sa Ma...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, system, \n\n\n\n<!--//<![CDATA[\r\n\t\t\t\t..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\nContact\nAdvertise\nThaiVisa\nAsia Ne...

Getting 11700 to 11705
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[ , \n\n\n\nThailand Local Forums\n\n\n\n\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\nToggle navigation\n\n\n\n\n\n\n\n\n\n\n...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\n\nHome\nPublic Lands\nCam...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 11705 to 11710
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\nToggle navigation\n\n\n\n\nTopics...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\nSondhi Limthongkul\n\nFrom Wiki..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\nSurayud Chulanont\n\nFrom Wikip..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n \nAnti-Death Penalty Asia Network ...

Getting 11710 to 11715
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , , \n\n\n\n\n \n\n\n\n\n\n \n\n\n\nSearch\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11715 to 11720
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n \n if (show_overlay==1 || (dfp_pre...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\nTheJakartaPost\nPlease Update your brow..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11720 to 11725
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[Server Error in Application ""MAUGENET"", Inter..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n\n\n\n\n\n\r\n Saturday, 1..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11725 to 11730
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\nPlease turn JavaScript on and reload the pa...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philippine...

Getting 11730 to 11735
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\n\nLog in or Sign up\n\n\n\n\n, \n\n\nLo..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\ngoogletag.cmd.push(function() { g...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\n\n\n, \n\n\n\n, \n, \n\n\n\n\n\nToggle ..."

Getting 11735 to 11740
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\n\n\n, \n\n\n\n, \n, \n\n\n\n\n\nToggle ..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\n\n\n, \n\n\n\n, \n, \n\n\n\n\n\nToggle ..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11740 to 11745
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[ X , X, X, \n var BASE_URL = domain_..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11745 to 11750
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , , \n\n\n\n\n \n\n\n\n\n\n \n\n\n\nSearch\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\nHow to contact WikiLeaks?\nWhat is Tor?...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n, \n\n, \n\n\r\nAlgeria condemns terroris..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\nHome\nChina\nWorld \nBusiness\nCulture\...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n, \n\n, \n\r\n1 terrorist, 2 Egyptian pol..."

Getting 11750 to 11755
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\nSkip to main content\n, \n\n\n\n\n\nFR\nES\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\nSCHWEIZER \r\n BOT...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\n\r\n\t35,019,356 articles and books\n\n..."

Getting 11755 to 11760
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \nManila Bulletin Philippines\nBreaking New..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 11760 to 11765
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\nNow Trending:\n\nPabrika ng damit sa Ma...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\nNow Trending:\n\nPabrika ng damit sa Ma...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."

Getting 11765 to 11770
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\nNow Trending:\n\nWar vets, new heroes h..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\nNow Trending:\n\nWar vets, new heroes h..."

Getting 11770 to 11775
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\nNow Trending:\n\nWar vets, new heroes h..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n\nNow Trending:\n\nWar vets, new heroes h..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\nNow Trending:\n\nWar vets, new heroes h..."

Getting 11775 to 11780
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\nNow Trending:\n\nPabrika ng damit sa Ma...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\n\r\n\t35,019,356 articles and books\n\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11780 to 11785
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\nBreadcrumbs\n\n\n\n\nSearch\n\n...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11785 to 11790
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 11790 to 11795
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\nToggle navigation\n\n\n\n\nStone\...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."

Getting 11795 to 11800
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\nMuir Analytics\n\n\nASSESSING THR...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\nWe've detected that JavaScript is disable...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\nWe've detected that JavaScript is disable...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n \n if (show_overlay==1 || (dfp_pre...

Getting 11800 to 11805
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\nToggle navigation\n\n\n\n\n\n\n\n\n\n\n...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n \n\n\n\n\n\nASSOCIATION FOR\r\nA...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\nSkip to main content\n, \n\n\n\n\n\n\n\n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[ Saturday, April 13, 20195:31 PM Daily News..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[ Saturday, April 13, 20195:31 PM Daily News..."

Getting 11805 to 11810
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n \n if (show_overlay==1 || (dfp_pre...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11810 to 11815
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\nMAC: Mines and Communities\n, \n\nHome |\nC..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\nMAC: Mines and Communities\n, \n\nHome |\nC..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[We use cookies to make interactions with our ...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\nHOME\nNEWSNEWSPhuketThailandWorldBusiness...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\nHOME\nNEWSNEWSPhuketThailandWorldBusiness...

Getting 11815 to 11820
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\nHOME\nNEWSNEWSPhuketThailandWorldBusiness...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\nHOME\nNEWSNEWSPhuketThailandWorldBusiness...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\nHOME\nNEWSNEWSPhuketThailandWorldBusiness...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\nHOME\nNEWSNEWSPhuketThailandWorldBusiness...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\nHOME\nNEWSNEWSPhuketThailandWorldBusiness...

Getting 11820 to 11825
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\nHOME\nNEWSNEWSPhuketThailandWorldBusiness...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\nHOME\nNEWSNEWSPhuketThailandWorldBusiness...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n, \n\n\n\n\n\n\n\n\n\n\n\n\n\nA..."

Getting 11825 to 11830
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[SectionsSEARCHSkip to contentSkip to site ind...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\tvar mps=mps||{}; mps._queue=mps._queue|...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\nSkip Navigation\n\n\nJump to Main \n\n\n, \..."

Getting 11830 to 11835
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\nMay 2005 Yangon bombings\n\nFro..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 11835 to 11840
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , , \n\n\n\n\n \n\n\n\n\n\n \n\n\n\nSearch\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , , \n\n\n\n\n \n\n\n\n\n\n \n\n\n\nSearch\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\nWe've detected that JavaScript is disable...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\nNow Trending:\n\nWar vets, new heroes h..."

Getting 11840 to 11845
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nCagayan...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nCagayan...

Getting 11845 to 11850
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nCagayan...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."

Getting 11850 to 11855
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \nManila Bulletin Philippines\nBreaking New..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[ \n table { width: 100% !important; } ...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\n\nList of De La Salle Universit..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11855 to 11860
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, loading ..., , \n\n\nYou can swipe right an..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, loading ..., , \n\n\nYou can swipe right an..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, loading ..., , \n\n\nYou can swipe right an..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\nLibyan Civil War (2011)\n\nFrom..."

Getting 11860 to 11865
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\nTimeline of the 2011 Libyan Civ..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\n\n, \n\n\n\nAccess Check\nOur systems h..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n Donate\nIn The News\...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11865 to 11870
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\n\nLog in or Sign up\n\n\n\n\n, \n\n\nLo..."

Getting 11870 to 11875
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\nThe Reader View of Wikipedia\n\n\...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\nIS claims suicide attack on Jakarta...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\n\n\nPage Not found\n, \n\n\n\nPage Not ..."

Getting 11875 to 11880
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\n\n\nPage Not found\n, \n\n\n\nPage Not ..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\n\n\nPage Not found\n, \n\n\n\nPage Not ..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\n\n\nPage Not found\n, \n\n\n\nPage Not ..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n\n\n\nPage Not found\n, \n\n\n\nPage Not ..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11880 to 11885
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n \n if (show_overlay==1 || (dfp_pre...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n \n if (show_overlay==1 || (dfp_pre...

Getting 11885 to 11890
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n, \n\n\n\n\n\n\n\nThe Guardian - Back to ho..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\nEmail: [email protected]\n\n\n ...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."

Getting 11890 to 11895
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\nToggle navigation\n\n\nGOV PH\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\nWelcome to Rappler, please select your de..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 11895 to 11900
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[Fox NewsU.S.WorldOpinionPoliticsEntertainment...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\nHome\nMenu\nSearch\n\n\n\n\...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n, \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n, \n\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, Open MenuSign inSign upHomeRegionalPeopleTo..."

Getting 11900 to 11905
<class 'list'>

                                                   0             1   2
0  https://newsinfo.inquirer.net/699492/police-of...  201506180097  []
1     https://en.wikipedia.org/wiki/Battle_of_Marawi  201506190018  []
2  https://www.google.com.sg/search?source=hp&ei=...  201506190018  []
3  https://en.wikipedia.org/wiki/Timeline_of_the_...  201506190018  []
4  https://www.crisisgroup.org/crisiswatch/print?...  201506190018  []

Getting 11905 to 11910
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n \n if (show_overlay==1 || (dfp_pre...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\n\nList of kidnappings\n\nFrom W..."

Getting 11910 to 11915
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n \n \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\nLast Updated: Wednesday, 10 April 2019, 1..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11915 to 11920
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\r\n googletag.cmd.push(fu...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."

Getting 11920 to 11925
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."

Getting 11925 to 11930
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\nToggle navigation\n\n\n\n\n\nXi...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\t\t\t| Manila Bulletin |\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\t\t\t| Manila Bulletin |\n..."

Getting 11930 to 11935
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\t\t\t| Manila Bulletin |\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\nAlbay\nCamarines Norte\nCamarines...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\nSkip to Main Content\n, \n\n\n\n\n\n\n\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\nBreadcrumbs\n\n\n...

Getting 11935 to 11940
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n, \n, \n HELLO FEATURE MARKUP VAL: \n\nWelc..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n var defaultViewWidth = defaultViewWidth...

Getting 11940 to 11945
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\nNAJNOWSZY DODAJ BEZ LOGOWANIA! LISTA RE..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[BIGtheme.net http://bigtheme.net/ecommerce/op...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n\n \n\nDon't Miss\n\nUAAP..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."

Getting 11945 to 11950
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\nNow Trending:\n\nWar vets, new heroes h..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\nNow Trending:\n\nPabrika ng damit sa Ma...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\nNow Trending:\n\nPabrika ng damit sa Ma...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11950 to 11955
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11955 to 11960
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\nToggle navigation\n\n\n\n\n\n\n\n\nForu...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , NewsAccountSearchMapsYouTubePlayNewsGmail..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[FacebookElection 2019 Updates - Duterte Admin...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n500 - Internal Server Error\n This is a...

Getting 11960 to 11965
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\nError\n520\nRay ID: 4c6e36860c9fa5d8 ...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[tanauan mayor shot dead sniper - Free Online ...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\nBeritaVideoFotoLive \n\nToggl...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\nBeritaVideoFotoLive \n\nToggl...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\nBeritaVideoFotoLive \n\nToggl...

Getting 11965 to 11970
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\nBeritaVideoFotoLive \n\nToggl...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\nBeritaVideoFotoLive \n\nToggl...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n, \n\n\n\n\n\n\nSocial Icons\n \n\n\n\n\n\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\nSocial Icons\n \n\n\n\n\n\n\n\n...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11970 to 11975
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\nError\n522\nRay ID: 4c6e36cf2f85994f ...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n Red Dead Redemption 2: my addicti...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[SUBSCRIBE NOWto get home deliveryNewsSportsLi...

Getting 11975 to 11980
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\n2014 in aviation\n\nFrom Wikipe..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\nPortal:Current events/October 2..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."

Getting 11980 to 11985
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \nProvincial\nManila Bulletin Philippines\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\nNPA rebels disarm Iloilo cops, haul away ar..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 11985 to 11990
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\nThai PBS English News\n\n\nThe Broadc...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\nX Close\n with photo\n without photo\nP..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\n\n, \n\n\n\nAccess Check\nOur systems h..."

Getting 11990 to 11995
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\n\n\n\n\n, \n\n\n\n\n, \n\n\n, \n, \n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\nNow Trending:\n\nWar vets, new heroes h..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 11995 to 12000
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\nThai PBS English News\n\n\nThe Broadc...

Getting 12000 to 12005
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12005 to 12010
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[Jump toSections of this pageAccessibility hel...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[.SubredditVars-r-Philippines { --newCommunity...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\nNow Trending:\n\nWar vets, new heroes h..."

Getting 12010 to 12015
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\nNow Trending:\n\nWar vets, new heroes h..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , NewsOpinionSportsBus..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , NewsOpinionSportsBus..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12015 to 12020
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\nToggle navigation\n\n\n\n\n\n\n...

Getting 12020 to 12025
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\nNow Trending:\n\nPabrika ng damit sa Ma...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 12025 to 12030
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[Jump toSections of this pageAccessibility hel...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n \n\n\n \n \n\nHome\n\n\n\n News\n\n\n\n ..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\nBusiness Insider LogoLogo for B..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12030 to 12035
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, system, \n\n\n\n<!--//<![CDATA[\r\n\t\t\t\t..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12035 to 12040
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\nNow Trending:\n\nWar vets, new heroes h..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\nNow Trending:\n\nPabrika ng damit sa Ma...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12040 to 12045
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\nBreadcrumbs\n\n\n\nYou are here...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\nBreadcrumbs\n\n\n\n\nSearch\n\n...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, system, \n\n\n\n<!--//<![CDATA[\r\n\t\t\t\t..."

Getting 12045 to 12050
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[FacebookBATANGAS PNP CRIME WATCH..Public grou...

Getting 12050 to 12055
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[ Policy Analysis CountriesCountries Iran...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12055 to 12060
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\nContact\nAdvertise\nThaiVisa\nAsia Ne...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\nSouthern Thailand News\n\n\n\n\n\n\n\...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\nThailand News\n\n\n\n\n\n\n\n\n\n\n\n...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\n\n\nNEWS SUMMED UP\n\n\n ..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\n\n\nNEWS SUMMED UP\n\n\n ..."

Getting 12060 to 12065
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\nThe Big New..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\nProclamation No. 216\n\nFrom Wi..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12065 to 12070
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\nNow Trending:\n\nPabrika ng damit sa Ma...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n, , \n\n\n\n\n\n\n\n\n\n\nPhilippines Def..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[ Policy Analysis CountriesCountries Iran...

Getting 12070 to 12075
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\nWar in Donbass\n\nFrom Wikipedi..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[ X , X, X, \n var BASE_URL = domain_..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[ X , X, X, \n var BASE_URL = domain_..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\nSkip to Main Content\n, \n\n\n\n\n\n\n\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[We use cookies to make interactions with our ...

Getting 12075 to 12080
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\n\n\nNEWS SUMMED UP\n\n\n ..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nSkip to main content\n, \n\n\nSearch form..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\tsetTimeout(function() {\n\t\tconst ..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\nSaffron Revolution\n\nFrom Wiki..."

Getting 12080 to 12085
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."

Getting 12085 to 12090
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\nBreadcrumbs\n\n\n\nYou are here...

Getting 12090 to 12095
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\t\t\t| Manila Bulletin |\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."

Getting 12095 to 12100
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\n\n\n \n\n\n\nSaturday, July 29, 2017..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\r\nvar sc_project=461074;\r\nvar sc_pa...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12100 to 12105
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , , \n\n\n\n\n \n\n\n\n\n\n \n\n\n\nSearch\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\njuztpost.com \n \n\n\n\n\n\n\n\n, \njuz..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\nBreadcrumbs\n\n\n\n\nSearch\n\n...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\nBreadcrumbs\n\n\n\n\nSearch\n\n...

Getting 12105 to 12110
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\nBreadcrumbs\n\n\n\n\nSearch\n\n...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n\n\n\n\n\n<!--\n w..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\nThai PBS English News\n\n\nThe Broadc...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n Trending | Quiz..."

Getting 12110 to 12115
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\nWikiVisually\n\n\n\nthe entir..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n Islamist militants in Philippines...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12115 to 12120
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, system, \n\n\n\n<!--//<![CDATA[\r\n\t\t\t\t..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n, \n\n\n\n\n\n\n\nThe Guardian - Back to ho..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\tsetTimeout(function() {\n\t\tconst ..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\n\n\nNEWS SUMMED UP\n\n\n ..."

Getting 12120 to 12125
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12125 to 12130
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\nNow Trending:\n\nPabrika ng damit sa Ma...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\nNow Trending:\n\nWar vets, new heroes h..."

Getting 12130 to 12135
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12135 to 12140
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\nSkip to main content\n, \n\n\n\n\n\n“They O..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\nnull\nnull\n\nnull\n\n\n\n\n\n\n\nn...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\nnull\nnull\n\nnull\n\n\n\n\n\n\n\nn...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12140 to 12145
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."

Getting 12145 to 12150
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."

Getting 12150 to 12155
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\nThai PBS English News\n\n\nThe Broadc...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\nThai PBS English News\n\n\nThe Broadc...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nSkip to main content\n, \n\n\n\n\n\nSearc..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nSkip to main content\n, \n\n\n\n\n\nSearc..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nSearc..."

Getting 12155 to 12160
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\n2012 Rakhine State riots\n\nFro..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n \n +91 7053 553 831 ..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\nPlease turn JavaScript on and reload the pa...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , NAWAIWAQT GROUP News Paper & T..."

Getting 12160 to 12165
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."

Getting 12165 to 12170
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \nManila Bulletin Philippines\nBreaking New..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n...\n\n\n, \n\n...\n\n, \n...\n, \n\n..."

Getting 12170 to 12175
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\nSkip to main content\n, \n\n\n\n\n\n\n\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n Policeman accidentally explodes g...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\nAccessibility links\n\nSkip to main content...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nLogin\n...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n15\n49.0138\n8.38624\n1\n0\n4000\n1\nhttp:/...

Getting 12175 to 12180
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[ X , X, X, \n var BASE_URL = domain_..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nOPINION\n, \n\nLog in\nSign up\nWeb searc..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12180 to 12185
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\nToggle navigation\n\n\nGOV PH\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\nToggle navigation\n\n\nGOV PH\n..."

Getting 12185 to 12190
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\n\n\n\n\n\nSaturday, April 13, 2..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nSaturday ...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n \n\n\nHOME\nGet Involved\n\nAbo..."

Getting 12190 to 12195
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\nBreadcrumbs\n\n\n\n\nSearch\n\n...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."

Getting 12195 to 12200
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \nManila Bulletin Philippines\nBreaking New..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."

Getting 12200 to 12205
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\nHome\nChina\nWorld \nBusiness\nCulture\...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\nHome\nChina\nWorld \nBusiness\nCulture\...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[ X , X, X, \n var BASE_URL = domain_..."

Getting 12205 to 12210
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\nSkip to content\n\n\n\n\nMenu\n \n\n NARINJ...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\nSkip to content\n\n\n\n\nMenu\n \n\n NARINJ...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\nSkip to content\n\n\n\n\nMenu\n \n\n NARINJ...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\nSkip to content\n\n\n\n\nMenu\n \n\n NARINJ...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12210 to 12215
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 12215 to 12220
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\n\n\nNEWS SUMMED UP\n\n\n ..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."

Getting 12220 to 12225
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n↓ Skip to Main Content\n\n\n\n\n\nMain\nN...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 12225 to 12230
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n , \n\n\n\n\n\nLabs\nBlog\nMobile\n\n\n\n\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."

Getting 12230 to 12235
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n, \n\n\n\n\n\nToggle navigation\n\n\n\n\n\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n, \n, \n HELLO FEATURE MARKUP VAL: \n\nWelc..."

Getting 12235 to 12240
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\nContact\nAdvertise\nThaiVisa\nAsia Ne...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\nThailand News\n\n\n\n\n\n\n\n\n\n\n\n...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\nThailand News\n\n\n\n\n\n\n\n\n\n\n\n...

Getting 12240 to 12245
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\nข่าวประชาสัมพันธ์\nข้อคิดความเห็น\nตระกูลคล...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\nข่าวประชาสัมพันธ์\nข้อคิดความเห็น\nตระกูลคล...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\nข่าวประชาสัมพันธ์\nข้อคิดความเห็น\nตระกูลคล...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\nข่าวประชาสัมพันธ์\nข้อคิดความเห็น\nตระกูลคล...

Getting 12245 to 12250
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\nContact\nAdvertise\nThaiVisa\nAsia Ne...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\nContact\nAdvertise\nThaiVisa\nAsia Ne...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\nThailand News\n\n\n\n\n\n\n\n\n\n\n\n...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\r\nvar sc_project=461074;\r\nvar sc_pa...

Getting 12250 to 12255
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\nNYTimes.com no longer supports Inte...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[SectionsSEARCHSkip to contentSkip to site ind...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12255 to 12260
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n.fil2{fill:#000;fill-rule:nonzero}.cls-5{..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nBreakin...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\nBusiness Insider LogoLogo for B..."

Getting 12260 to 12265
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n \n\n\n \n \n\nHome\n\n\n\n News\n\n\n\n ..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\nMain Thai insurgent group renews conditiona...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\nBeritaVideoFotoLive \n\nToggl...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12265 to 12270
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n\n\n, \..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n\n\n, \..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n\n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n\n\n, \..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n\n\n, \..."

Getting 12270 to 12275
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\t\t\t| Manila Bulletin |\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n\n\n\n\n\t\t\tSaturday, April 13, 2019\t\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\nSkip to content\n\n\n\n\nMenu\n \n\n NARINJ...

Getting 12275 to 12280
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\nSkip to content\n\n\n\n\nMenu\n \n\n NARINJ...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\nSkip to content\n\n\n\n\nMenu\n \n\n NARINJ...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, system, \n\n\n\n<!--//<![CDATA[\r\n\t\t\t\t..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\nFFI Nederlandstalig\nBeweging v...

Getting 12280 to 12285
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n Log in\nRegistration\n\n\n\n...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\nPortal:Current events\n\nFrom W..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 12285 to 12290
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\ngoogletag.cmd.push(function() { g...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12290 to 12295
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\ngoogletag.cmd.push(function() { g...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\n\nLog in or Sign up\n\n\n\n\n, \n\n\nLo..."

Getting 12295 to 12300
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n, \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nUpdated e..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\n\n\nNEWS SUMMED UP\n\n\n ..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 12300 to 12305
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."

Getting 12305 to 12310
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\nPlease turn JavaScript on and reload the pa...

Getting 12310 to 12315
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\nToggle navigation\n\n\n\n\n\n\n\n\n\n\n...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 12315 to 12320
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[Jump toSections of this pageAccessibility hel...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12320 to 12325
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 12325 to 12330
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\nNow Trending:\n\nWar vets, new heroes h..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\n\r\n\t35,019,356 articles and books\n\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12330 to 12335
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[Jump toSections of this pageAccessibility hel...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 12335 to 12340
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12340 to 12345
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\n\n\n\n\n<!--\n w..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 12345 to 12350
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\r\n The ...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 12350 to 12355
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\ngoogletag.cmd.push(function() { g...

Getting 12355 to 12360
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\nTheJakartaPost\nPlease Update your brow..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\nHome >\r\nSouth-East Asia >>\r\n In...

Getting 12360 to 12365
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[.SubredditVars-r-indonesia { --newCommunityTh...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 12365 to 12370
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n \n\n\n \n \n\nHome\n\n\n\n News\n\n\n\n ..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n콘텐츠로 바로가기\n\n\n\n \n\n\n\n매일매일 영어공부\n매일매일 영...

Getting 12370 to 12375
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n .validatLogin ul { padding-left : 15px; ..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n\n\n\n\n<!--\r\ngoogle_ad_client = ""pub-4..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\r\nvar sc_project=461074;\r\nvar sc_pa...

Getting 12375 to 12380
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\n\n\n\n\n<!--\n w..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\ngoogletag.cmd.push(function() { g...

Getting 12380 to 12385
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\nRadio New Zealand\n \n\n\n\n\n\n\nS...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\nRadio New Zealand\n \n\n\n\n\n\n\nS...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\nRadio New Zealand\n \n\n\n\n\n\n\nS...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\nRadio New Zealand\n \n\n\n\n\n\n\nS...

Getting 12385 to 12390
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\nRadio New Zealand\n \n\n\n\n\n\n\nS...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n (function(i,s,o,g,r,a,m){i['GoogleAnaly..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12390 to 12395
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \nManila Bulletin Philippines\nBreaking New..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n , \n, \n, \n\n\n\n\nMenu\n\n\n\n\nCounte..."

Getting 12395 to 12400
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n\n\n\n\nOverview\nHistory\nGT...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."

Getting 12400 to 12405
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n\n\n\n\n\n<!--\n w..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\nToggle navigation\n\n\nGOV PH\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."

Getting 12405 to 12410
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[Fox NewsU.S.WorldOpinionPoliticsEntertainment...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , NewsAccountSearchMapsYouTubePlayNewsGmail..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\nThanks for contacting us. We've recei...

Getting 12410 to 12415
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."

Getting 12415 to 12420
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\nDavao City\n\nFrom Wikipedia, t..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."

Getting 12420 to 12425
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\nToggle navigation\n\n\nGOV PH\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\nToggle navigation\n\n\nGOV PH\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\nToggle navigation\n\n\nGOV PH\n..."

Getting 12425 to 12430
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\nOverview\nHistory\nGT...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."

Getting 12430 to 12435
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \nManila Bulletin Philippines\nBreaking New..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\ngoogletag.cmd.push(function() { g...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\nWe've detected that JavaScript is disable...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12435 to 12440
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\nContact\nAdvertise\nThaiVisa\nAsia Ne...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n/*<![CDATA[*/ (function() { if (window.bbcd...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\nReuters - Video\n\nEdition:\nUS |\n ...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\nicon caret\n\n\n\nArrow Down\n\nArrow...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\nicon caret\n\n\n\nArrow Down\n\nArrow...

Getting 12440 to 12445
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\nToggle navigation\n\n\n\n\n\n\n\n\n\n\n...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\nOverview\nHistory\nGT...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n, \n\n\n, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n, \n\n\n, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\..."

Getting 12445 to 12450
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\n2010 attacks against places of ..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\tFOLLOW US\n\n\n...

Getting 12450 to 12455
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\n\r\n\t35,019,356 articles and books\n\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12455 to 12460
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, system, \n\n\n\n<!--//<![CDATA[\r\n\t\t\t\t..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."

Getting 12460 to 12465
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."

Getting 12465 to 12470
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n\n\n, \..."

Getting 12470 to 12475
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\nPlease turn JavaScript on and reload the pa...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\nPlease turn JavaScript on and reload the pa...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n, Menu, \nRemembering Our Dead\n, \n\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12475 to 12480
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\nToggle navigation\n\n\nGOV PH\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\nSJH\n\n\n\n\n\n\nToggle navigation\n\n\...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\n\n, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12480 to 12485
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n \n \n \n \n\n\n\n\nLive-Chat\n \n\...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n(function(){var node=document.getElem..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."

Getting 12485 to 12490
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\n\n\nNEWS SUMMED UP\n\n\n ..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nSuggestio...

Getting 12490 to 12495
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\nToggle navigation\n\n\nGOV PH\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\nToggle navigation\n\n\nGOV PH\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\nToggle navigation\n\n\nGOV PH\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 12495 to 12500
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 12500 to 12505
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\nMapping Militant Organizations\n\n\n, \nM..."

Getting 12505 to 12510
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\t\t\t| Manila Bulletin |\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\t\t\t| Manila Bulletin |\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\t\t\t| Manila Bulletin |\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\n\n\n\n\t\t\tSaturday, April 13, 2019\t\..."

Getting 12510 to 12515
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\nList of accidents and incidents..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\nDos Palmas kidnappings\n\nFrom ..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n ‘It’s personal’: jailed opponent ...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[We are sorry, but the page you were looking f..."

Getting 12515 to 12520
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[We are sorry, but the page you were looking f..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\nPreda Deutsch Website\n\n\n\nPreda Foun...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."

Getting 12520 to 12525
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 12525 to 12530
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\r\n.article-info-term{\r\n\tdisplay:none;\...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."

Getting 12530 to 12535
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."

Getting 12535 to 12540
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\n\n\n\n\n<!--\n w..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\n\r\n\t35,019,356 articles and books\n\n..."

Getting 12540 to 12545
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\nOverview\nHistory\nGT...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n, \n\n\n\n\n\nToggle navigation\n\n\n\n\n\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n, \n\r\n {""@context"":""https://schema.o..."

Getting 12545 to 12550
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\nContact\nAdvertise\nThaiVisa\nAsia Ne...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\nThailand News\n\n\n\n\n\n\n\n\n\n\n\n...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\nOverview\nHistory\nGT...

Getting 12550 to 12555
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n\n\n\n\nOverview\nHistory\nGT...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[FacebookThe Nation Bangkok is on Facebook. To...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\nข่าวประชาสัมพันธ์\nข้อคิดความเห็น\nตระกูลคล...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\nข่าวประชาสัมพันธ์\nข้อคิดความเห็น\nตระกูลคล...

Getting 12555 to 12560
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\n \n\nDon't Miss\n\nUAAP..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 12560 to 12565
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 12565 to 12570
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."

Getting 12570 to 12575
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \nManila Bulletin Philippines\nBreaking New..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\n\r\n\t35,019,356 articles and books\n\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\nvar Kaggle=window.Kaggle||{};Kaggle.State...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[Skip to:Main ContentSite NavigationSite foote...

Getting 12575 to 12580
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philippine...

Getting 12580 to 12585
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philippi...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , , , , , , Breaking NewsWorld+USAfricaAmer..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , , , , , , Breaking NewsWorld+USAfricaAmer..."

Getting 12585 to 12590
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[BIGtheme.net http://bigtheme.net/ecommerce/op...

Getting 12590 to 12595
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n, \n\n\n\n\n\nToggle navigation\n\n\n\n\n\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\n\n\n, \n\n\n\n, \n, \n\n\n\n\n\nToggle ..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n\n\n\n, \n\n\n\n, \n, \n\n\n\n\n\nToggle ..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n, \n\n {""@context"":""https://schema.org..."

Getting 12595 to 12600
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n, \n\n\n\n\n\nToggle navigation\n\n\n\n\n\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n, \n, \n HELLO FEATURE MARKUP VAL: \n\nWelc..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\nWelcome to Rappler, please select your de..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nSkip to content\n\n\n\n\n\n\n\n\n Menu..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\n\n\nWHOOPS!\nThe Page You're ...

Getting 12600 to 12605
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[ \n var BASE_URL = domain_name;\n .h...

Getting 12605 to 12610
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\nadvertisement\n\n, advertisement, , , , \n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\nadvertisement\n\n, advertisement, , , , \n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\nPampanga\n\nFrom Wikipedia, the..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12610 to 12615
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n, , \n\n\n\n\n\n\n\n\nMenu\n\n\nHome\n\n\..."

Getting 12615 to 12620
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\ngoogletag.cmd.push(function() { googlet...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\nLast Updated: Wednesday, 10 April 2019, 1..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\n\nUnited Arab Emirates\n\nFrom ..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\nHuman rights in the United Arab..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\nSkip to main content\n, \n\n\n\n\n\nBuildin..."

Getting 12620 to 12625
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\t\t\t| Manila Bulletin |\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\nImus\n\nFrom Wikipedia, the fre..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\nProperty Company of Friends\n\n..."

Getting 12625 to 12630
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \nrequire([""ta/Core/TA.Store""], function(ta..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n, \n\n\n\n\n\nToggle navigation\n\n\n\n\n\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."

Getting 12630 to 12635
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\n/*added some generic ne..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\nThe Big New..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nSkip to content\n\n\n\n\n\n\n\n\n Menu..."

Getting 12635 to 12640
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[BIGtheme.net http://bigtheme.net/ecommerce/op...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12640 to 12645
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\nCity Government of Zamboanga - Asia's L...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n/*<![CDATA[*/ (function() { if (window.bbcd...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[AdvertisementAdvertisementNewsCommentLifestyl...

Getting 12645 to 12650
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n0191 380 4000\n\n|\n\nCONTACT US\n\n, \n0..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."

Getting 12650 to 12655
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n, \n\n, \n\n\r\nMyanmar military forces a..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n \n if (show_overlay==1 || (dfp_pre...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\nThe Fourth Revolutionary War\nA chronic...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\nThe Fourth Revolutionary War\nA chronic...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\nThe Fourth Revolutionary War\nA chronic...

Getting 12655 to 12660
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\nThe Fourth Revolutionary War\nA chronic...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\nThe Fourth Revolutionary War\nA chronic...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philippi...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\nTheJakartaPost\nPlease Update your brow..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\nTheJakartaPost\nPlease Update your brow..."

Getting 12660 to 12665
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\n2017 in Indonesia\n\nFrom Wikip..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\n2005 Palu market bombing\n\nFro..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\nDOS Seal\n\nU.S. Department of St...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\nOverview\nHistory\nGT...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[ \n var BASE_URL = domain_name;\n .h...

Getting 12665 to 12670
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[ X , X, X, \n var BASE_URL = domain_..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\nMapping Militant Organizations\n\n\n, \nM..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n, \n\n\n\n\nHome\n\n\nNews\n\n\nWeather\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12670 to 12675
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\nAbout AEC News Today\n\nAEC News ...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\nERROR 404 - PAGE NOT FOUND\n\n\n\nW...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12675 to 12680
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12680 to 12685
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[#UH-0-Header #uh-logo {background-image: url(...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12685 to 12690
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\n\nTaguig\n\nFrom Wikipedia, the..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 12690 to 12695
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 12695 to 12700
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12700 to 12705
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\nSaudi Arabian-led intervention ..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\nSkip to main content\n, \n\n\nHelp us conti..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[Skip to main content, \n\n\n\n\n\n\n\n\n\n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, (function(){var topics=[];topics.push(""c..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\tsetTimeout(function() {\n\t\tconst ..."

Getting 12705 to 12710
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n\n\n\n\nMiddle East\n\n\n\n\n...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n, \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n, \n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\ngoogletag.display('div-gpt-ad-1404718...

Getting 12710 to 12715
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[ Forum Home Today's Posts Subscribed Threa...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\nERROR 404 - PAGE NOT FOUND\n\n\n\nW...

Getting 12715 to 12720
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\nSkip to content\n\n\n\n kate the journomate...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12720 to 12725
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philippi...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\nContact\nAdvertise\nThaiVisa\nAsia Ne...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\nThailand News\n\n\n\n\n\n\n\n\n\n\n\n...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\nERROR 404 - PAGE NOT FOUND\n\n\n\nW...

Getting 12725 to 12730
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\nERROR 404 - PAGE NOT FOUND\n\n\n\nW...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\nBlog Stat\nข้อคิดความเห็น\nติดต่อบริการ\nผม...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[ , \n\n\n\n\n\n\t\t\t\tThai-Iceland\n\n\n\nSe..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\r\nvar sc_project=461074;\r\nvar sc_pa...

Getting 12730 to 12735
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\nToggle navigation\n\n\nGOV PH\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\nToggle navigation\n\n\nGOV PH\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n var defaultViewWidth = defaultViewWidth...

Getting 12735 to 12740
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n var defaultViewWidth = defaultViewWidth...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n Presidential Communications Operation...

Getting 12740 to 12745
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philippi...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philippi...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\nNEWS\n, \n\nLog in\nSign up\nWeb search\n\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12745 to 12750
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."

Getting 12750 to 12755
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\nAbout AEC News Today\n\nAEC News ...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n, \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n,..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n, \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n,..."

Getting 12755 to 12760
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[ \n var BASE_URL = domain_name;\n .h...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[Jump toSections of this pageAccessibility hel...

Getting 12760 to 12765
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\n\nList of grenade attacks in Sw..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\n\n\n, \n\n\n, \n, \n\n\n\n\n\n\n\n\n\r\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n/*<![CDATA[*/ (function() { if (window.bbcd...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\nGoogle Tag Manager , \n\n\n\n\nMenu\nSearch..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\nicon caret\n\n\n\nArrow Down\n\nArrow...

Getting 12765 to 12770
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[Jump toSections of this pageAccessibility hel...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[Jump toSections of this pageAccessibility hel...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[Jump toSections of this pageAccessibility hel...

Getting 12770 to 12775
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[Jump toSections of this pageAccessibility hel...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n, \n\n\n\n\n\nToggle navigation\n\n\n\n\n\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , , , \n\n\n Research and publish th..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12775 to 12780
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."

Getting 12780 to 12785
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\t\t\t\t\tPhilippines News\n\n\n\n\t\t\...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\t\t\t| Manila Bulletin |\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\t\t\t| Manila Bulletin |\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."

Getting 12785 to 12790
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \nManila Bulletin Philippines\nBreaking New..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n \nSkip navigation\n \n \n\nSG\n \nSi..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\nWelcome to Rappler, please select your de..."

Getting 12790 to 12795
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\n\nNorthern Samar Province News ..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\r\nvar sc_project=461074;\r\nvar sc_pa...

Getting 12795 to 12800
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\r\nvar sc_project=461074;\r\nvar sc_pa...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 12800 to 12805
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n\r\n The ...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philippine...

Getting 12805 to 12810
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\nSecure Key\nContact instructions\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n \n if (show_overlay==1 || (dfp_pre...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n, \n\n\n\n\n\n\n\nThe Guardian - Back to ho..."

Getting 12810 to 12815
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[SectionsSEARCHSkip to contentSkip to site ind...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\n2016 in Malaysia\n\nFrom Wikipe..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\nBertelsmann Stiftung\n\n, \nSearch\n\n\n\..."

Getting 12815 to 12820
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\nSkip to Main Content\n, \n\n\n\n\n\n\n\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n, \n\n\n, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\nPerak Hari Ini\n\n\n\n\n\n\n\n\n\n\n\n\n\...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\r\n The ...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 12820 to 12825
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 12825 to 12830
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\nToggle navigation\n\n\nGOV PH\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12830 to 12835
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\nSUMMARY OF THE OFFERING \n This summary hi...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\nPlease turn JavaScript on and reload the pa...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 12835 to 12840
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philippi...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 12840 to 12845
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 12845 to 12850
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\nToggle navigation\n\n\nGOV PH\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[BIGtheme.net http://bigtheme.net/ecommerce/op...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n var defaultViewWidth = defaultViewWidth...

Getting 12850 to 12855
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n注册\n个人空间\n帮助中心\n\n中国工程院\n知识中心首页\n科教图书首页...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\t\t\t| Manila Bulletin |\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\r\nvar sc_project=461074;\r\nvar sc_pa...

Getting 12855 to 12860
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 12860 to 12865
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\n\nTarlac Province News February..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n \n\nFormulaire de contact\nFermer ...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n\n\n\n, \n\n\n\n, \n, \n\n\n\n\n\nToggle ..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12865 to 12870
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."

Getting 12870 to 12875
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[SectionsSeriesHungerlustLocationsEuropeNorth ...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\nOverview\nHistory\nGT...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12875 to 12880
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\r\nvar sc_project=461074;\r\nvar sc_pa...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n新华网首页\n 新闻 | 时政 | 法治 | 地方 | 社会 | 评论 | 国际 ...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 12880 to 12885
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\nThe Reader View of Wikipedia\n\n\...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nSearc..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12885 to 12890
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n, \n\n Skip to main content\n \n,..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12890 to 12895
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philippi...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\nOverview\nHistory\nGT...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...

Getting 12895 to 12900
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\nAccessibility links\n\nSkip to main content...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\neuzicasa\n\n\nShare something you l...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\nWikiVisually\n\n\n\nthe entir..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12900 to 12905
<class 'list'>

                                                   0             1   2
0  https://newsinfo.inquirer.net/699492/police-of...  201506180097  []
1     https://en.wikipedia.org/wiki/Battle_of_Marawi  201506190018  []
2  https://www.google.com.sg/search?source=hp&ei=...  201506190018  []
3  https://en.wikipedia.org/wiki/Timeline_of_the_...  201506190018  []
4  https://www.crisisgroup.org/crisiswatch/print?...  201506190018  []

Getting 12905 to 12910
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\nForbidden\nUnable to process your request...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n Communication ..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12910 to 12915
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nPlease provide ...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[Search Images Maps Play YouTube News Gmail Dr...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philippi...

Getting 12915 to 12920
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , , , , Shop @ LootDrive360IOL PropertyTale..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , , , , Shop @ LootDrive360IOL PropertyTale..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\nHistory of South Africa\n\nFrom..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n googletag.cmd.p...

Getting 12920 to 12925
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\nTheJakartaPost\nPlease Update your brow..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12925 to 12930
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\nMotorcycle safety\n\nFrom Wikip..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\nNews \nNews Columnists \nMa...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."

Getting 12930 to 12935
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n \n\n\r\ngoogletag.cmd.push(funct...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n (moaKnl = window.moaKnl || []).push({\n...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12935 to 12940
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 12940 to 12945
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n, \n\n\n\n\n\n\n\nThe Guardian - Back to ho..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\nAbout\n\nRNS Board of Managers\nR...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\n2016 Normandy church attack\n\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, ]"

Getting 12945 to 12950
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\nCurse\nHelp\nRegister\nSign In\n\n\n\...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\nCurse\nHelp\nRegister\nSign In\n\n\n\...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\r\n\t\t\t\t\t\t\t\t\tLogin\t\t\t\t...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\nSkip to main content\n, \n\n\n\n\n\nIn Reli..."

Getting 12950 to 12955
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[Jump toSections of this pageAccessibility hel...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\nOverview\nHistory\nGT...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\t\t\t\t\tPhilippines News\n\n\n\n\t\t\...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n Categories\n Top Downloads..."

Getting 12955 to 12960
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n (function(i,s,o,g,r,a,m){i['GoogleAna..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[#UH-0-Header #uh-logo {background-image: url(...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\nThailand News\n\n\n\n\n\n\n\n\n\n\n\n...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\nContact\nAdvertise\nThaiVisa\nAsia Ne...

Getting 12960 to 12965
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[ , \n\n\n\n\n\n\t\t\t\tThai-Iceland\n\n\n\nSe..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[ , \n\n\n\n\nInvolveAsia \n\n\n\n\t\t\t\tSiam..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[ , \n\n\n\n\nInvolveAsia \n\n\n\n\t\t\t\tSiam..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\nBlog Stat\nข้อคิดความเห็น\nติดต่อบริการ\nผม...

Getting 12965 to 12970
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\nBlog Stat\nข้อคิดความเห็น\nติดต่อบริการ\nผม...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\nBlog Stat\nข้อคิดความเห็น\nติดต่อบริการ\nผม...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."

Getting 12970 to 12975
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n, \n\n\n\n\n\n\n\n\n\n\n\n\n\nA..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n/*<![CDATA[*/ (function() { if (window.bbcd...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\tvar mps=mps||{}; mps._queue=mps._queue|...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\n2016 Brussels bombings\n\nFrom ..."

Getting 12975 to 12980
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\nXinjiang conflict\n\nFrom Wikip..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\nThai PBS English News\n\n\nThe Broadc...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\nERROR 404 - PAGE NOT FOUND\n\n\n\nW...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n, \n\n Skip to main content\n \n,..."

Getting 12980 to 12985
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n \n\n\n\n\n\n \r\n \r\n ...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 12985 to 12990
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n ..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."

Getting 12990 to 12995
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n \n\n\n\n Home\n\n\n \n \n\nNews\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n, , \n\n\n\n\n\n\n\n\n\n\nTranscript Prov..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[ \n var BASE_URL = domain_name;\n .h...

Getting 12995 to 13000
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 13000 to 13005
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n, , \n\n\n\n\n\n\n\n\n\n\nFLIPZI's\n\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\nThai PBS English News\n\n\nThe Broadc...

Getting 13005 to 13010
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n, \n, \n HELLO FEATURE MARKUP VAL: \n\nWelc..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n\n\n\n\n\n\n\n\n\n\nCagayandeOroCity, Phi..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\n\n\nWHOOPS!\nThe Page You're ...

Getting 13010 to 13015
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , Blog not found\nSorry, the blog you were ..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 13015 to 13020
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philippi...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philippi...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 13020 to 13025
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\nNew Bilibid Prison drug traffic..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\nSkip to main content\n, \n\n\n\n\n\n\n\n\nO..."

Getting 13025 to 13030
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n \n\n\n\n\n\n\n\n\n\n ...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n×\n\nThanks for using our platform!\n...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\nSurigao del Sur\n\nFrom Wikiped..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\nBislig\n\nFrom Wikipedia, the f..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\nCantilan, Surigao del Sur\n\nFr..."

Getting 13030 to 13035
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 13035 to 13040
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."

Getting 13040 to 13045
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\nMAC: Mines and Communities\n, \n\nHome |\nC..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\nMAC: Mines and Communities\n, \n\nHome |\nC..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\nEmail: [email protected]\n\n\n ...

Getting 13045 to 13050
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 13050 to 13055
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \nManila Bulletin Philippines\nBreaking New..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n\nSunday, April 14, 2019 SUBSCRIBE\n\n\n ..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\nSaturday, April 13, 2019 SUBSCRIBE\n\n\..."

Getting 13055 to 13060
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n var defaultViewWidth = defaultViewWidth...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."

Getting 13060 to 13065
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\tatOptions = {\n\t\t'key' : '9c88e091a40...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\r\nvar sc_project=461074;\r\nvar sc_pa...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\nToggle navigation\n\n\nGOV PH\n..."

Getting 13065 to 13070
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n, \n\n\n\n\n\n\n\n\n\n\n\n\n\n\..."

Getting 13070 to 13075
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n, \n\n, , , , \n\n\n\n\n\n\n\n\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\nMenu\nThe Diplomat\nAccount, Menu, Account,..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\nKOR\nENG\n\n\n\n\n\n\n\nS...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nSearc..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\nicon caret\n\n\n\nArrow Down\n\nArrow...

Getting 13075 to 13080
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n/*<![CDATA[*/ (function() { if (window.bbcd...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 13080 to 13085
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 13085 to 13090
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\nToggle navigation\n\n\nGOV PH\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n \n\n\n\n\n\n\n\n\n\n ...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\nToggle navigation\n\n\nGOV PH\n..."

Getting 13090 to 13095
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n, \n, \n HELLO FEATURE MARKUP VAL: \n\nWelc..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[Jump toSections of this pageAccessibility hel...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 13095 to 13100
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\n\r\n\t35,019,356 articles and books\n\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philippi...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n, \n\n\n\n\n\nToggle navigation\n\n\n\n\n\n..."

Getting 13100 to 13105
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[Jump toSections of this pageAccessibility hel...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[Pumunta saMga bahagi ng pahinang ito.Tulong s...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\nWe've detected that JavaScript is disable...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 13105 to 13110
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\nCivil conflict in the Philippin..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."

Getting 13110 to 13115
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 13115 to 13120
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\n\n\n\n\n\r\n Saturday, 1..."

Getting 13120 to 13125
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n Create!\n]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n\n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n\n\n, \..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n\n\n, \..."

Getting 13125 to 13130
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n\n\n, \..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\nOverview\nHistory\nGT...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n\n, \n\..."

Getting 13130 to 13135
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n\n\r\n\t35,019,356 articles and books\n\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\nFacebook\nTwitter\nEm..."

Getting 13135 to 13140
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[ \n \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nCalendar\...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\nPlease turn JavaScript on and reload the pa...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 13140 to 13145
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n \n, , , \n\n\n\n\n\n\nCOSERAMSearch this..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\nReceive up-to-the-minute news updates on th...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 13145 to 13150
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\nOff Topic\n\n\n\n\n\n\n\n\n\n\n\n\n\n...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n \n if (show_overlay==1 || (dfp_pre...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 13150 to 13155
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n, \n\n\n\n\n\n\n\n\n\n\n\n\n\nA..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\tsetTimeout(function() {\n\t\tconst ..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , , ArrowArtboardCreated with Sketch.Artboa..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\nBlog Stat\nข้อคิดความเห็น\nติดต่อบริการ\nผม...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\nBlog Stat\nข้อคิดความเห็น\nติดต่อบริการ\nผม...

Getting 13155 to 13160
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\nBlog Stat\nข้อคิดความเห็น\nติดต่อบริการ\nผม...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\n ...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\tsetTimeout(function() {\n\t\tconst ..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n Account Suspended\n \n, \n\n\..."

Getting 13160 to 13165
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\nHome\n\n\nNews\n\n\nWeather\n\n\nEn...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n, \n\n Skip to main content\n \n,..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 13165 to 13170
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\n\n\n\n\n\n\n\n\n\nCagayandeOroCity, Phi..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\n\n\n\n\n\n\n\n\n\nCagayandeOroCity, Phi..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\nWHOOPS!\nThe Page You're ...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[HomepageContactsDeliveryCreditVacationFaceboo...

Getting 13170 to 13175
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n, \n\n\n\n\n\nToggle navigation\n\n\n\n\n\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n, , \n\n\n\n\n\n\n\n\n\n × \n\n\n\n\n\n \..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\nWelcome to Rappler, please select your de..."

Getting 13175 to 13180
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[We are sorry, but the page you were looking f..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\n\r\n\t35,019,356 articles and books\n\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."

Getting 13180 to 13185
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\nList of thwarted Islamist terro..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n, \n\n\nLanguages\n ..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , , , , , , Breaking NewsWorld+USAfricaAmer..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\nChristian Leuprecht\n\n\nHome\nCurriculum V...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."

Getting 13185 to 13190
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\nGlorp\n\n\n\n\n\n\n◫ Grid\n💾 .ZIP\n📃 ..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\nContact\nAdvertise\nThaiVisa\nAsia Ne...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nNews\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\nOverview\nHistory\nGT...

Getting 13190 to 13195
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\nPrint\n\n\n\nAbu Sayyaf militan...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n, \n, \n\n\n\n\n\n\r\n ..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 13195 to 13200
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<!--\ngoogle_...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\nAccessibility links\n\nSkip to main content...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\nAccessibility links\n\nSkip to main content...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\nAccessibility links\n\nSkip to main content...

Getting 13200 to 13205
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\nAccessibility links\n\nSkip to main content...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\nAccessibility links\n\nSkip to main content...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\nPlease enable javascript to view this site....
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\nAbout\nContact\n\n\n\n\nskip to main |...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 13205 to 13210
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n, \n\n\n\n\n\nToggle navigation\n\n\n\n\n\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."

Getting 13210 to 13215
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\nWelcome to Rappler, please select your de..."

Getting 13215 to 13220
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\nIAPL Monitoring Committee on Attack...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\nWHOOPS!\nThe Page You're ...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\nWHOOPS!\nThe Page You're ...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\n\nZamboanga del Sur News April ..."

Getting 13220 to 13225
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n, \n\n\n\n\n\nToggle navigation\n\n\n\n\n\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n, \n\n\n\n\n\nToggle navigation\n\n\n\n\n\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n, \n\n\n\n\n\nToggle navigation\n\n\n\n\n\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , NewsAccountSearchMapsYouTubePlayNewsGmail..."

Getting 13225 to 13230
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n \n if (show_overlay==1 || (dfp_pre...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."

Getting 13230 to 13235
<class 'list'>

                                                   0             1   2
0  https://newsinfo.inquirer.net/699492/police-of...  201506180097  []
1     https://en.wikipedia.org/wiki/Battle_of_Marawi  201506190018  []
2  https://www.google.com.sg/search?source=hp&ei=...  201506190018  []
3  https://en.wikipedia.org/wiki/Timeline_of_the_...  201506190018  []
4  https://www.crisisgroup.org/crisiswatch/print?...  201506190018  []

Getting 13235 to 13240
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n, \n\n\n window.INITIAL_PROPS_HEADER = {..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\nFacebookTwitterRssMailAfghanistan\nAr...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\nSkip to content\n\n\n\n\n\nView menu\n\n\n\...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\nSkip to content\n\n\n\n\n\nView menu\n\n\n\...

Getting 13240 to 13245
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\nskip to main |\n skip to sidebar\...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\r\n googletag.cmd.push(fu...

Getting 13245 to 13250
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[BIGtheme.net http://bigtheme.net/ecommerce/op...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\nThai PBS English News\n\n\nThe Broadc...

Getting 13250 to 13255
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\nToggle navigation\n\n\n\n\n\n\n\n\n\n\n...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\nToggle navigation\n\n\n\n\n\n\n\n\n\n\n...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n, \n\n Skip to main content\n \n,..."

Getting 13255 to 13260
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n, \n, \n HELLO FEATURE MARKUP VAL: \n\nWelc..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\nMAC: Mines and Communities\n, \n\nHome |\nC..."

Getting 13260 to 13265
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\nSORSOGON UNITED\n\n\nWhen we unite, We ma..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\nSorsogon City\n\n\nDagus tabi kam...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\nChanRobles™ Virtual Law Lib..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."

Getting 13265 to 13270
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\n2016 Philippine general electio..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n \n\n\r\ngoogletag.cmd.push(funct...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n (moaKnl = window.moaKnl || []).push({\n...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n (moaKnl = window.moaKnl || []).push({\n...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n (moaKnl = window.moaKnl || []).push({\n...

Getting 13270 to 13275
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n, \n\n Skip to main content\n \n,..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n var defaultViewWidth = defaultViewWidth...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 13275 to 13280
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[...Go To HomeABS-CBN News is on Facebook. To ...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\r\n The ...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."

Getting 13280 to 13285
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n, \n\n\n\n\n\n\n\n\n\n<img src=""data:imag..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\n2000 Sipadan kidnappings\n\nFro..."

Getting 13285 to 13290
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n\n\nWHOOPS!\nThe Page You're ...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 13290 to 13295
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[Jump toSections of this pageAccessibility hel...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\nSkip to content\n\n\nFilipinos Everywhere\n...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\nSkip to content\n\n\nFilipinos Everywhere\n...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 13295 to 13300
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, HomeNewsLocalU.S. & WorldSportsHealthTechWe..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, ZinEduHome Delivery of Educaton Home Z..."

Getting 13300 to 13305
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n (moaKnl = window.moaKnl || []).push({\n...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n (moaKnl = window.moaKnl || []).push({\n...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n \n\n\r\ngoogletag.cmd.push(funct...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n \n\n\r\ngoogletag.cmd.push(funct...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 13305 to 13310
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\nList of terrorist incidents, Janu..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\nHome\n\n\nNews\n\n\nWeather\n\n\nEn...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[BIGtheme.net http://bigtheme.net/ecommerce/op...

Getting 13310 to 13315
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\nJournals of the Lewis & Clark E...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philippine...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 13315 to 13320
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n, \n\n\n\n\n\nToggle navigation\n\n\n\n\n\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n, \n, \n HELLO FEATURE MARKUP VAL: \n\nWelc..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...

Getting 13320 to 13325
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[BIGtheme.net http://bigtheme.net/ecommerce/op...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 13325 to 13330
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n, \n\n\n\n\n\n\n\n\n\n\n\n\n\nA..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n \n \n\n D...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n \n \n\n D...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n \n \n\n D...

Getting 13330 to 13335
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\nGates of Vienna\n\n\n\n\n\n\n\n\nMain m...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\nSkip to content\n\n\n\n \n\n\n\n\nFBI News ...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\nAbout\nPrivacy Policy (GDPR)\nDMCA ..."

Getting 13335 to 13340
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n \n if (show_overlay==1 || (dfp_pre...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n, \n\n\n\n\n\nToggle navigation\n\n\n\n\n\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 13340 to 13345
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n \n if (show_overlay==1 || (dfp_pre...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, function getElementSso(aID){\n\t\t\t\t\t\t\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, function getElementSso(aID){\n\t\t\t\t\t\t\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, function getElementSso(aID){\n\t\t\t\t\t\t\..."

Getting 13345 to 13350
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\nflash('/btob_new_sin/images/sub_left_05.swf...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[Jump toSections of this pageAccessibility hel...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n, , \n\n\n\n\n\n\n\n\n\n\nPhilippines Def..."

Getting 13350 to 13355
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\nWe've detected that JavaScript is disable...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...

Getting 13355 to 13360
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n \n\n\n\n Home\n\n\n \n \n\nNews\n\..."

Getting 13360 to 13365
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n !function(a9,a,p,s,t,A,g){if(a[..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\nNEWS\n, \n\nLog in\nSign up\nWeb search\n\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 13365 to 13370
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\nToggle navigation\n\n\nGOV PH\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\nToggle navigation\n\n\nGOV PH\n..."

Getting 13370 to 13375
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\n\nSunday, April 14, 2019 SUBSCRIBE\n\n\n ..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\nWelcome to Rappler, please select your de..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\n\n\nList of terrorist incidents in ..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 13375 to 13380
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."

Getting 13380 to 13385
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\r\n The ...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n HRD Memorial\nCelebrating those who ...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\nBlog Stat\nข้อคิดความเห็น\nติดต่อบริการ\nผม...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\nBlog Stat\nข้อคิดความเห็น\nติดต่อบริการ\nผม...

Getting 13385 to 13390
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\nBlog Stat\nข้อคิดความเห็น\nติดต่อบริการ\nผม...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\nBlog Stat\nข้อคิดความเห็น\nติดต่อบริการ\nผม...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\nOverview\nHistory\nGT...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\ngoogletag.cmd.push(function() { g...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\ngoogletag.cmd.push(function() { g...

Getting 13390 to 13395
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n\r\n The ...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[We are sorry, but the page you were looking f..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\nMobile version\n\n if( navigator.userAgent...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\nMobile version\n\n if( navigator.userAgent...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\nMobile version\n\n if( navigator.userAgent...

Getting 13395 to 13400
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n, \n, \n HELLO FEATURE MARKUP VAL: \n\nWelc..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\nToggle Accessibility Statement\nSki...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n\nSunday, April 14, 2019 SUBSCRIBE\n\n\n ..."

Getting 13400 to 13405
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n, \n\n\n\n\n\nToggle navigation\n\n\n\n\n\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\nvar Kaggle=window.Kaggle||{};Kaggle.State...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\nNEWS\n, \n\nLog in\nSign up\nWeb search\n\n..."

Getting 13405 to 13410
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[ X , X, X, \n var BASE_URL = domain_..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n, \n\n\n\n\nHome\n\n\nNews\n\n\nWeather\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\nAntipolo\n\nFrom Wikipedia, the..."

Getting 13410 to 13415
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\n\n, You may be trying to access this si..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 13415 to 13420
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[SectionsSEARCHSkip to contentSkip to site ind...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\nList of killings by law enforce..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\nSkip to main content\n, , \n\nCentral Washi..."

Getting 13420 to 13425
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\t\t\t| Manila Bulletin |\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\nAccessibility links \nSkip to main content\...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\nSections\n\n\nNewsSportsEntertain..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[We are sorry, but the page you were looking f..."

Getting 13425 to 13430
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n\nOops!\n404 - Category not found\n\n, \nOo..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\nARCHIVE\n, \n\nLog in\nSign up\nWeb search\..."

Getting 13430 to 13435
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\nWe've detected that JavaScript is disable...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 13435 to 13440
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[ get the latest gambling news from calvin ayr...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 13440 to 13445
<class 'list'>

                                                   0             1   2
0  https://newsinfo.inquirer.net/699492/police-of...  201506180097  []
1     https://en.wikipedia.org/wiki/Battle_of_Marawi  201506190018  []
2  https://www.google.com.sg/search?source=hp&ei=...  201506190018  []
3  https://en.wikipedia.org/wiki/Timeline_of_the_...  201506190018  []
4  https://www.crisisgroup.org/crisiswatch/print?...  201506190018  []

Getting 13445 to 13450
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\nLeni Robredo\n\nFrom Wikipedia,..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\n\r\n The ...

Getting 13450 to 13455
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\nTheJakartaPost\nPlease Update your brow..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\nTheJakartaPost\nPlease Update your brow..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\nSukarno\n\nFrom Wikipedia, the ..."

Getting 13455 to 13460
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n, \n\n Skip to main content\n \n,..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n, \n\n\n\n\n\nToggle navigation\n\n\n\n\n\n..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 13460 to 13465
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\r\n\t\t\tOs cookies de educalingo são usad...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\r\n\t\t\tEducalingo Cookies werden verwend...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\r\n\t\t\tEducalingo cookies sont utilisés ...

Getting 13465 to 13470
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\nCookie educalingo vengono utilizzati per ...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\r\n\t\t\tLas cookies de educalingo se usan...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\nAbout\nPrivacy Policy (GDPR)\nDMCA ..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."

Getting 13470 to 13475
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n\n\n\n\n...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n, \n\n\n\n\n\n\n\nThe Guardian - Back to ho..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."

Getting 13475 to 13480
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[SectionsSEARCHSkip to contentSkip to site ind...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\nCharlie Hebdo shooting\n\nFrom ..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\r\nvar sc_project=461074;\r\nvar sc_pa...

Getting 13480 to 13485
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \nNEWS\n, \n\nLog in\nSign up\nWeb search\n..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\nThai PBS English News\n\n\nThe Broadc...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n \n if (show_overlay==1 || (dfp_pre...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 13485 to 13490
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n\n\nWHOOPS!\nThe Page You're ...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\nWHOOPS!\nThe Page You're ...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 13490 to 13495
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , \n\n\n\n\n\nOperation Red Wings\n\nFrom W..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , , , , , , Breaking NewsSearchStarsScreenB..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n, \n\n\n\n\n\n\n All..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 13495 to 13500
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\n\r\n\t35,019,356 articles and books\n\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , \n\n\ngo to:\nFull View\n\n\n\n\n\n\n \n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , , \n\n\n\n\n \n\n\n\n\n\n \n\n\n\nSearch\..."

Getting 13500 to 13505
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n About New Europe\n Print Edition L..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\nIslamic World News(04 Jun 2015 Ne...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n function setAttributeOnload(object, att..."

Getting 13505 to 13510
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[\n function setAttributeOnload(object, att..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , \n\n\n\n\n\nPalawan News June 2015\n\nFro..."

Getting 13510 to 13515
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n\n\nWHOOPS!\nThe Page You're ...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philippine...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."

Getting 13515 to 13520
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , \n\n\n\n\n2015 in Philippine television\n..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\n\n, \n\n\n, , , \n\n\n\n\n\n\n\n\n\n\n\n\n\..."

Getting 13520 to 13525
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\nList of terrorist incidents in ..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \nManila Bulletin Philippines\nBreaking New..."

Getting 13525 to 13530
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n Trending | Quiz..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...

Getting 13530 to 13535
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n\n\n\n\nOverview\nHistory\nGT...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, , NewsOpinionSportsBus..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, , NewsOpinionSportsBus..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, , NewsOpinionSportsBus..."

Getting 13535 to 13540
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, , NewsOpinionSportsBus..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, , \n\n\n\n\nStallion Laguna F.C.\n\nFrom Wi..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n \r\n \n\n \r\n ...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\nWikiVisually\n\n\n\nthe entir..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\n\n\n1.919.926.709724hrsContact UsCl...

Getting 13540 to 13545
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n var defaultViewWidth = defaultViewWidth...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n\n, \n\nHOME\n|\nSEARCH\n|\nREGISTER RSS\n|..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."

Getting 13545 to 13550
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[BIGtheme.net http://bigtheme.net/ecommerce/op...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...

Getting 13550 to 13555
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\nIssuu company logo\nIssuu\n\n\n\n\n\n...

Getting 13555 to 13560
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[ \n var BASE_URL = domain_name;\n .h...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[\n function setAttributeOnload(object, att..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 13560 to 13565
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[]
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[, \n\n\n\n\n\n\n\n\n\nPhilstar HomeThe Philip..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 13565 to 13570
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[, \n\n\n\n\n\n\n\n\n, \n\n\n\n\n\n\n, \n\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n var defaultViewWidth = defaultViewWidth...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n var defaultViewWidth = defaultViewWidth...

Getting 13570 to 13575
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\n\n\n\n\n\n\n\n Log in\nRegistration\n\n\n\n...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\nSkip to content\n\n\n\n\n\n\nPhilippine Shi...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[]
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,"[, \n\n\n\nSEARCH\nEnter your email address be..."
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n\n\n\r\n\t\t\t\t\tNew perspectives on Sou...

Getting 13575 to 13580
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[\nThailand Chatter Forum > News Flash > The N...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n function setAttributeOnload(object, att..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n function setAttributeOnload(object, att..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[\n\n \n if (show_overlay==1 || (dfp_pre...

Getting 13580 to 13585
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[SectionsSEARCHSkip to contentSkip to site ind...
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,"[\n\n\n\nGoSearch\n\n\n\n, \n\n\nGoSearch\n\n\..."
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,"[\n\n\n\n\n\n\n, \n\n\n\n\n, \n\n\n, \n, \n\n\..."
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[\n\n\nMyNewMarkets.com\nClaims Journal\nInsur...
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,[]

Getting 13585 to 13590
<class 'list'>

,0,1,2
0,https://newsinfo.inquirer.net/699492/police-of...,201506180097,[]
1,https://en.wikipedia.org/wiki/Battle_of_Marawi,201506190018,[\n\n\n\n\n\n\n\n\n\n \n\n\n\n\n\n\n\n\n\n\n\...
2,https://www.google.com.sg/search?source=hp&ei=...,201506190018,[BIGtheme.net http://bigtheme.net/ecommerce/op...
3,https://en.wikipedia.org/wiki/Timeline_of_the_...,201506190018,[]
4,https://www.crisisgroup.org/crisiswatch/print?...,201506190018,"[\nFor faster navigation, this Iframe is prelo..."

In [ ]:
pd.read_pickle('201506190018_2.h5')[2]